Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

Fix V2V channel handling for Lucy-Edit and improve tests
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/ssim/test_lucy_edit_similarity.py
  tests/local_tests/pipelines/test_lucy_edit_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add Lucy-Edit-Dev (decart-ai) video editing pipeline
  docs/inference/support_matrix.md
  examples/inference/basic/basic_lucy_edit.py
  fastvideo/configs/pipelines/lucy_edit.py
  fastvideo/configs/sample/lucy_edit.py
  fastvideo/pipelines/basic/lucy_edit/__init__.py
  fastvideo/pipelines/basic/lucy_edit/lucy_edit_pipeline.py
  fastvideo/registry.py
  tests/local_tests/pipelines/test_lucy_edit_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

correct the registry.py
  fastvideo/models/registry.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update exmaple
  examples/inference/basic/basic_ltx2.py
Due: none

[bugfix] Fixed ltx2 base cfg guidance (#1095)
  examples/inference/basic/basic_ltx2.py
  fastvideo/configs/sample/ltx2.py
  fastvideo/models/dits/ltx2.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] fastvideo-kernel: fix VSA Triton padding NaNs and support q/kv length mismatch (#1094)
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
  fastvideo-kernel/python/fastvideo_kernel/version.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

update
  .github/workflows/fastvideo-kernel-publish.yml
Due: none

[kernel] add torch 2.10 to package build matrix (#1099)
  .github/workflows/fastvideo-kernel-publish.yml
Due: none

val
  examples/training/finetune/WanGame2.1_1.3b_i2v/scripts/generate_validation.py
Due: none

[feat] Add stable_audio T2A Generation
  docs/inference/inference_quick_start.md
  docs/inference/stable_audio.md
  docs/inference/support_matrix.md
  examples/inference/basic/stable_audio_basic.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/stable_audio.py
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/configs/sample/stable_audio.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/weight_utils.py
  fastvideo/models/registry.py
  fastvideo/models/stable_audio/__init__.py
  fastvideo/models/stable_audio/conditioner.py
  fastvideo/models/stable_audio/conditioners_inline.py
  fastvideo/models/stable_audio/pretransform.py
  fastvideo/models/stable_audio/sampling.py
  fastvideo/models/stable_audio/sat_autoencoders.py
  fastvideo/models/stable_audio/sat_blocks.py
  fastvideo/models/stable_audio/sat_dit.py
  fastvideo/models/stable_audio/sat_factory.py
  fastvideo/models/stable_audio/sat_pretransforms.py
  fastvideo/models/stable_audio/sat_transformer.py
  fastvideo/models/stable_audio/sat_utils.py
  fastvideo/pipelines/basic/stable_audio/__init__.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/stable_audio_conditioning.py
  fastvideo/pipelines/stages/stable_audio_decoding.py
  fastvideo/pipelines/stages/stable_audio_denoising.py
  fastvideo/pipelines/stages/stable_audio_input_validation.py
  fastvideo/pipelines/stages/stable_audio_latent_preparation.py
  fastvideo/registry.py
  mkdocs.yml
  pyproject.toml
  tests/local_tests/pipelines/test_stable_audio_pipeline_smoke.py
  tests/local_tests/stable_audio/test_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[misc]: Fix linting in GameCraft pipeline files
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feature] Add Hunyuan-GameCraft model support (#1071)
  .gitignore
  examples/inference/basic/basic_gamecraft.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/hunyuangamecraft.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/gamecraftvae.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuangamecraft.py
  fastvideo/configs/sample/__init__.py
  fastvideo/configs/sample/hunyuangamecraft.py
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/camera/__init__.py
  fastvideo/models/camera/trajectory.py
  fastvideo/models/dits/hunyuangamecraft.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/gamecraftvae.py
  fastvideo/models/vaes/gamecraftvae_blocks.py
  fastvideo/pipelines/basic/gamecraft/__init__.py
  fastvideo/pipelines/basic/gamecraft/gamecraft_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
  fastvideo/pipelines/stages/gamecraft_image_encoding.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  scripts/checkpoint_conversion/convert_gamecraft_full.py
  scripts/checkpoint_conversion/convert_gamecraft_vae.py
  scripts/checkpoint_conversion/convert_gamecraft_weights.py
  scripts/checkpoint_conversion/extract_llava_text_encoder.py
  tests/local_tests/encoders/test_gamecraft_encoders_parity.py
  tests/local_tests/pipelines/test_gamecraft_pipeline_parity.py
  tests/local_tests/transformers/test_gamecraft_parity.py
  tests/local_tests/vaes/test_gamecraft_vae_parity.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

streamlined cfg trigger logic
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

aligned guidance modulation term
  fastvideo/configs/sample/ltx2.py
  fastvideo/models/dits/ltx2.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

simplified ptb guidance
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add model selection
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/wangamevideo.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/sample/registry.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/wangame/__init__.py
  fastvideo/models/dits/wangame/causal_model.py
  fastvideo/models/dits/wangame/hyworld_action_module.py
  fastvideo/models/dits/wangame/model.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/wangame_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wangame_i2v_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/pipelines/stages/multi_user_engine.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
  ui/world_model/client/src/App.svelte
  ui/world_model/server/config.py
  ui/world_model/server/gpu_pool.py
  ui/world_model/server/main.py
  ui/world_model/server/mock_server.py
  ui/world_model/server/test_batching.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix]: Strip video_quality from ForwardBatch kwargs for Waypoint streaming
  fastvideo/entrypoints/streaming_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[mypy]: Use getattr for Unix-only signal.SIGKILL/SIGQUIT (Windows stub)
  fastvideo/utils.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat]: Waypoint pipeline, mypy/ruff fixes, streaming_generator video_quality fix
  examples/inference/basic/WAYPOINT_QUICKSTART.md
  fastvideo/configs/models/dits/__init__.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  run_fastvideo_single_frame.py
  test_official_model.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[style]: yapf reformat for CI
  .gitignore
  docs/WAYPOINT_COMPARISON.md
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: correct TimestepEmbedding return value and param_names_mapping for GEN3C parity
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/dits/gen3c.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add GEN3C tests, docs, and address high-pri review bot feedback
  docs/inference/gen3c.md
  docs/inference/support_matrix.md
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  tests/local_tests/pipelines/test_gen3c_pipeline_smoke.py
  tests/local_tests/transformers/test_gen3c.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add GEN3C example script and sampling config
  examples/inference/basic/basic_gen3c.py
  fastvideo/configs/sample/gen3c.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

lints
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

use mg causal denoising
  examples/training/consistency_finetune/causal_wangame_ode_init/finetune_ode_init.sh
  fastvideo/pipelines/basic/wan/wangame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

vsa with qat training kernel
  test_qat_attn.py
  vsa_with_qat.py
Due: none

fix
  .github/workflows/fastvideo-kernel-publish.yml
Due: none

fix
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] Fix failed kernel publish and SFT regressions (#1103)
  .github/workflows/fastvideo-kernel-publish.yml
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  .github/workflows/fastvideo-kernel-publish.yml
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[perf] causal MatrixGame optimization (#1078)
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: hunyuan postprecess issue
  fastvideo/configs/pipelines/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/configs/pipelines/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix cache handling logic
  fastvideo/models/dits/wangame/causal_model.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add visualization
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/wangame_ode_causal_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

sgl
  examples/inference/basic/basic_flux.py
  examples/inference/basic/flux_sgl.py
Due: none

sgl op
  examples/inference/basic/flux_sgl.py
Due: none
