Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

fake quant done
  test_quantization_precision.py
  triton_fp4.py
Due: none

nvfp4 utils in progress
  nvfp4_utils.py
Due: none

save
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B_sage3.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_sage3.sh
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/training/training_pipeline.py
  test_quantization_precision.py
  test_quantization_simple.py
  test_triton_fp4_vs_cutlass.py
  tinyllama.py
  triton_original.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add real and fake quant precision tests
  test_quantization_precision.py
  test_quantization_simple.py
Due: none

checkpoint
  fastvideo/attention/backends/sage_attn3.py
  nvfp4_utils.py
  qat_attn.py
  test_quantization_precision.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add inference repo
  .gitmodules
  examples/inference/optimizations/quantization_example.py
  fastvideo/layers/linear.py
  fastvideo/layers/mlp.py
  fastvideo/layers/quantization/fp4_config.py
  fastvideo/layers/quantization/fp8_config.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix DeepGEMM path
  .gitmodules
Due: none

qat attn in progress + refactor nvfp4 utils
  fastvideo/attention/backends/sage_attn3.py
  nvfp4_utils.py
  qat_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix import
  nvfp4_utils.py
Due: none

fix masking + causal and non-causal logic in qat attn
  qat_attn.py
Due: none

refactor: address PR feedback (optimize loops, refactor CUDA kernels, harden build)
  csrc/fastvideo_kernel/README.md
  csrc/fastvideo_kernel/csrc/block_sparse_h100.cu
  csrc/fastvideo_kernel/csrc/st_attn_h100.cu
  csrc/fastvideo_kernel/pyproject.toml
  csrc/fastvideo_kernel/setup.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/ops.py
  csrc/fastvideo_kernel/tests/support_flex_sta.py
  csrc/fastvideo_kernel/tests/test_correctness.py
Due: none

refactor: update import paths to use fastvideo_kernel package
  fastvideo/attention/backends/sliding_tile_attn.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/platforms/cuda.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Inference Tests VMoBA, Unit Tests

feat: consolidate attention kernels into unified fastvideo-kernel package
  csrc/fastvideo_kernel/.gitignore
  csrc/fastvideo_kernel/LICENSE
  csrc/fastvideo_kernel/README.md
  csrc/fastvideo_kernel/csrc/block_sparse_h100.cu
  csrc/fastvideo_kernel/csrc/st_attn.cpp
  csrc/fastvideo_kernel/csrc/st_attn_h100.cu
  csrc/fastvideo_kernel/csrc/vsa.cpp
  csrc/fastvideo_kernel/pyproject.toml
  csrc/fastvideo_kernel/setup.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/_C/__init__.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/__init__.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/ops.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/triton_kernels/index.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/vmoba.py
  csrc/fastvideo_kernel/tests/test_correctness.py
Due: none

introduce ThreadPoolExecutor for saving
  examples/inference/basic/basic_matrixgame_streaming.py
  fastvideo/entrypoints/streaming_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ci: add GitHub Actions workflow for fastvideo-kernel PyPI publishing
  .github/workflows/fastvideo-kernel-publish.yml
Due: none

fix: make artifact names unique by including Python version
  .github/workflows/fastvideo-kernel-publish.yml
Due: none

ssim minor change
  fastvideo/tests/ssim/test_longcat_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove ssim in this pr
  .buildkite/pipeline.yml
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-base/FLASH_ATTN/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-base/TORCH_SDPA/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-distill/FLASH_ATTN/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-distill/TORCH_SDPA/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-refine/FLASH_ATTN/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/test_longcat_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

precommit
  fastvideo/configs/models/dits/__init__.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] [dmd2] allow dmd2 simulate_student_forward to use text-only dataset (#951)
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

queue-based streaming
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add LongCat T2V (Base, Distillation and Refinement) Support to FastVideo (#883)
  .gitignore
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/longcat.py
  fastvideo/configs/pipelines/longcat.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/models/dits/longcat.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/longcat/__init__.py
  fastvideo/pipelines/basic/longcat/longcat_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  fastvideo/pipelines/stages/longcat_refine_timestep.py
  fastvideo/pipelines/stages/timestep_preparation.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/third_party/longcat_video/block_sparse_attention/__init__.py
  fastvideo/third_party/longcat_video/block_sparse_attention/bsa_interface.py
  fastvideo/third_party/longcat_video/block_sparse_attention/common.py
  fastvideo/third_party/longcat_video/block_sparse_attention/communicate.py
  fastvideo/third_party/longcat_video/block_sparse_attention/flash_attn_bsa_varlen_mask.py
  fastvideo/utils.py
  pyproject.toml
  scripts/checkpoint_conversion/longcat_to_fastvideo.py
  scripts/checkpoint_conversion/validate_longcat_weights.py
  scripts/inference/v1_inference_longcat.sh
  scripts/inference/v1_inference_longcat_distill.sh
  scripts/inference/v1_inference_longcat_refine_fromvideo.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

async video saving
  examples/inference/basic/basic_matrixgame_streaming.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add LongCat I2V pipeline with split attention support
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/basic/longcat/__init__.py
  fastvideo/pipelines/basic/longcat/longcat_i2v_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_latent_preparation.py
  fastvideo/pipelines/stages/longcat_image_vae_encoding.py
  run_demo_longcat_i2v.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

feat(longcat-i2v): Add distilled LoRA and refinement support
  fastvideo/pipelines/basic/longcat/longcat_i2v_pipeline.py
  fastvideo/pipelines/stages/longcat_i2v_latent_preparation.py
  fastvideo/pipelines/stages/longcat_image_vae_encoding.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  run_demo_longcat_i2v.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added support for video continuation for longcat-video
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/basic/longcat/__init__.py
  fastvideo/pipelines/basic/longcat/longcat_vc_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_kv_cache_init.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/pipelines/stages/longcat_video_vae_encoding.py
  run_demo_longcat_vc.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add LongCat I2V/VC inference scripts, fix T2V scripts, fix LongCat DiT
  BACKEND_CONFIGURATION_GUIDE.md
  LONGCAT_I2V_IMPLEMENTATION_SUMMARY.md
  LONGCAT_I2V_VC_IMPLEMENTATION_PLAN.md
  LONGCAT_VC_IMPLEMENTATION_PLAN.md
  MULTIPROC_EXECUTOR_WALKTHROUGH.md
  RAY_VS_MULTIPROC_ANALYSIS.md
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_kv_cache_init.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/pipelines/stages/longcat_video_vae_encoding.py
  fastvideo/tests/inference/lora/generated_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/steps32_flat color, no lineart, blending, negative space, artist:[john kafka|ponsuke kaikai|hara id 21|yoney_ssim.json
  fastvideo/tests/inference/lora/generated_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/steps32_steamboat willie style, golden era animation, close-up of a short fluffy monster kneeling beside a m_ssim.json
  fastvideo/tests/ssim/generated_videos/LongCat-Video-T2V-Distilled-Refined/FLASH_ATTN/steps16_In a realistic photography style, a white boy around seven or eight years old sits on a park bench, _ssim.json
  fastvideo/tests/ssim/generated_videos/LongCat-Video-T2V-Original/FLASH_ATTN/steps16_In a realistic photography style, a white boy around seven or eight years old sits on a park bench, _ssim.json
  scripts/inference/v1_inference_longcat.sh
  scripts/inference/v1_inference_longcat_distill.sh
  scripts/inference/v1_inference_longcat_i2v.sh
  scripts/inference/v1_inference_longcat_refine_fromvideo.sh
  scripts/inference/v1_inference_longcat_vc.sh
  test_longcat_set_lora_adapter.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix LongCat I2V script: use square input image and matching output dimensions
  scripts/inference/v1_inference_longcat_i2v.sh
Due: none

Remove unnecessary files from PR
  BACKEND_CONFIGURATION_GUIDE.md
  LONGCAT_I2V_IMPLEMENTATION_SUMMARY.md
  LONGCAT_I2V_VC_IMPLEMENTATION_PLAN.md
  LONGCAT_VC_IMPLEMENTATION_PLAN.md
  MULTIPROC_EXECUTOR_WALKTHROUGH.md
  RAY_VS_MULTIPROC_ANALYSIS.md
  fastvideo/tests/inference/lora/generated_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/steps32_flat color, no lineart, blending, negative space, artist:[john kafka|ponsuke kaikai|hara id 21|yoney_ssim.json
  fastvideo/tests/inference/lora/generated_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/steps32_steamboat willie style, golden era animation, close-up of a short fluffy monster kneeling beside a m_ssim.json
  fastvideo/tests/ssim/generated_videos/LongCat-Video-T2V-Distilled-Refined/FLASH_ATTN/steps16_In a realistic photography style, a white boy around seven or eight years old sits on a park bench, _ssim.json
  fastvideo/tests/ssim/generated_videos/LongCat-Video-T2V-Original/FLASH_ATTN/steps16_In a realistic photography style, a white boy around seven or eight years old sits on a park bench, _ssim.json
  run_demo_longcat_i2v.py
  run_demo_longcat_vc.py
  test_longcat_set_lora_adapter.py
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add noise pool
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add assets for I2V and VC inference examples
  assets/girl.png
  assets/motorcycle.mp4
Due: none

no more step call in reset
  examples/inference/basic/basic_matrixgame_streaming.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix TimestepEmbedder to match original LongCat: convert to model dtype before MLP
  fastvideo/models/dits/longcat.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Remove outdated Phase 1/2 and wrapper references from LongCat code
  fastvideo/configs/models/dits/longcat.py
  fastvideo/configs/pipelines/longcat.py
  fastvideo/models/dits/longcat.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/longcat/longcat_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(kernels): correct VSA arg name and add Wan-specific STA kernel config
  csrc/fastvideo_kernel/csrc/st_attn_h100.cu
  csrc/fastvideo_kernel/src/fastvideo_kernel/ops.py
  csrc/fastvideo_kernel/src/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
Due: none

fix(kernels): unified package fixes (VSA arg name, Wan STA config, VMoBA tests)
  csrc/fastvideo_kernel/MANIFEST.in
  csrc/fastvideo_kernel/tests/test_vmoba_correctness.py
Due: none

remove unnecessary return value in reset
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add async step in ray executor
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests
