Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

cleanup
  del_inference.py
  examples/inference/basic/basic_turbodiffusion.py
  fastvideo/models/schedulers/scheduling_rcm.py
  scripts/checkpoint_conversion/convert_turbodiffusion_to_diffusers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added rcm scheduling
  fastvideo/attention/backends/sla.py
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_rcm.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/schedulers/test_scheduling_rcm.py
  fastvideo/tests/transformers/test_wanvideo_orig.py
  fastvideo/tests/transformers/test_wanvideo_sla_comparison.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added final ssim json
  fastvideo/tests/ssim/generated_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/steps4_Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of _ssim.json
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added l40s ref video
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fixed multi gpu, rcm randn issue
  fastvideo/models/schedulers/scheduling_rcm.py
  inference_turbodiffusion.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added sla to fastvideo-kernels
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/sla_triton.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/sla_kernels/__init__.py
  fastvideo/attention/backends/sla_kernels/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

simplified inference file for final merge
  examples/inference/basic/basic_turbodiffusion.py
Due: none

fixedw inference, cfg was the issue
  inference_turbodiffusion.py
Due: none

inference init, working but bad outputs. gotta look at scheduler
  del_inference.py
  fastvideo/attention/backends/sla.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/schedulers/scheduling_rcm.py
  fastvideo/pipelines/basic/turbodiffusion/__init__.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  inference_turbodiffusion.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ssim huge mismatch, switch server
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

pushed weights to hf
  fastvideo/pipelines/basic/turbodiffusion/__init__.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  inference_turbodiffusion.py
  scripts/checkpoint_conversion/convert_turbodiffusion_to_diffusers.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

minor fixes, removed useless testing file
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/schedulers/test_scheduling_rcm.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

precommits
  del_inference.py
  fastvideo/attention/backends/sla.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
  inference_turbodiffusion.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

minor fixes
  fastvideo/models/schedulers/scheduling_rcm.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  inference_turbodiffusion.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added ref files
  fastvideo/models/dits/wan2_ref/__init__.py
  fastvideo/models/dits/wan2_ref/a2a_cp.py
  fastvideo/models/dits/wan2_ref/attention.py
  fastvideo/models/dits/wan2_ref/context_parallel.py
  fastvideo/models/dits/wan2_ref/log.py
  fastvideo/models/dits/wan2_ref/selective_activation_checkpoint.py
  fastvideo/models/dits/wan2_ref/wan2pt1.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

removed earlier turbodiff copies
  fastvideo/models/dits/wan2_ref/__init__.py
  fastvideo/models/dits/wan2_ref/a2a_cp.py
  fastvideo/models/dits/wan2_ref/attention.py
  fastvideo/models/dits/wan2_ref/context_parallel.py
  fastvideo/models/dits/wan2_ref/log.py
  fastvideo/models/dits/wan2_ref/selective_activation_checkpoint.py
  fastvideo/models/dits/wan2_ref/wan2pt1.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added inf ssim test
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  fastvideo/pipelines/basic/turbodiffusion/__init__.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

tests: add for absmax fp8
  fastvideo/layers/quantization/absmax_fp8.py
  fastvideo/tests/ops/quantization/test_absmax_fp8.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: add back f32 activation for absmax fp8
  fastvideo/layers/quantization/absmax_fp8.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Support absmax style quantization for FP8 (#981)
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/absmax_fp8.py
  fastvideo/models/encoders/t5.py
  fastvideo/tests/ops/quantization/test_absmax_fp8.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

.
  README.md
Due: none

u
  README.md
Due: none

[New Model] Turbodiffusion (#971)
  examples/inference/basic/basic_turbodiffusion.py
  examples/inference/basic/basic_turbodiffusion_14b.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/sla_triton.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/layer.py
  fastvideo/configs/models/dits/base.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_rcm.py
  fastvideo/pipelines/basic/turbodiffusion/__init__.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/generated_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/steps4_Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of _ssim.json
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
  fastvideo/tests/transformers/test_wanvideo.py
  scripts/checkpoint_conversion/convert_turbodiffusion_to_diffusers.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

release
  fastvideo-kernel/python/fastvideo_kernel/version.py
  fastvideo/version.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[feat] support Matrix-Game 2.0 streaming generation (#957)
  examples/inference/basic/basic_matrixgame_streaming.py
  examples/inference/gradio/local/gradio_local_demo_matrixgame.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/models/dits/matrix_game/utils.py
  fastvideo/models/vaes/wanvae.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
  fastvideo/worker/ray_distributed_executor.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

feat(text_encoder): support weight override and quantization
  examples/inference/optimizations/text_encoder_quant_example.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(text_encoder): prevent subclasses of TextEncoderLoader from using wrong weights
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Support text encoder weight override and quantization (#983)
  examples/inference/optimizations/text_encoder_quant_example.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

adding layerwise offloading
  fastvideo/models/layerwise_offload.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

adding layerwise offloading
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/layerwise_offload.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

adding layerwise offloading
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

updating changes
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/layerwise_offload.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix cuda oom
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

support matrix game and turbodiffusion model
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
