Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

wip
  examples/inference/basic/basic_self_forcing_causal.py
  fastvideo/attention/layer.py
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ugly conversion and inference scripts
  examples/inference/basic/basic_matrixgame.py
  scripts/checkpoint_conversion/matrixgame_to_diffusers.py
Due: none

working
  examples/inference/basic/basic_self_forcing_causal.py
  fastvideo/attention/layer.py
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  examples/inference/basic/basic_self_forcing_causal.py
  fastvideo/attention/layer.py
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

code formatting
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_refine_init.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

code formatting
  fastvideo/pipelines/stages/longcat_refine_timestep.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix type
  fastvideo/configs/pipelines/longcat.py
  fastvideo/layers/rotary_embedding_3d.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

yapf pre commit
  fastvideo/configs/models/dits/longcat.py
  fastvideo/configs/pipelines/longcat.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/pipelines/basic/longcat/__init__.py
  fastvideo/pipelines/basic/longcat/longcat_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  fastvideo/pipelines/stages/longcat_refine_timestep.py
  fastvideo/utils.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

yapf pre commit
  fastvideo/layers/rotary_embedding_3d.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ftfy
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

+ Awesome work using FastVideo or our research projects
  README.md
Due: none

update
  README.md
Due: none

precommit
  README.md
Due: none

+ Awesome work using FastVideo or our research projects (#898)
  README.md
Due: none

framework for testing, backup original vsa tk kernel
  csrc/attn/tests/test_vsa.py
  csrc/attn/tests/utils.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100_original.cu
Due: Training Tests VSA, Precision Tests VSA

clangd setup
  .clangd
  .gitignore
  compile_commands.json
Due: none

only testing for forward
  csrc/attn/tests/test_vsa.py
  csrc/attn/tests/test_vsa_forward.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100.cu
Due: Training Tests VSA, Precision Tests VSA

minor change
  csrc/attn/tests/test_vsa_forward.py
Due: none

cleaning up preprocessing pipeline
  fastvideo/pipelines/preprocess/hunyuan/hunyuan_preprocess_pipelins.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Revert "cleaning up preprocessing pipeline"
  fastvideo/pipelines/preprocess/hunyuan/hunyuan_preprocess_pipelins.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Remove PreprocessPipelineI2V class from pipeline
  fastvideo/pipelines/preprocess/hunyuan/hunyuan_preprocess_pipelins.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fwd qkdiff finished and tested
  csrc/attn/tests/test_vsa_forward.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100.cu
Due: Training Tests VSA, Precision Tests VSA

update
  fastvideo/tests/training/VSA/reference_wandb_summary_VSA.json
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

vsa wrapper support different block size
  csrc/attn/tests/test_vsa.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_wrapper.py
Due: Training Tests VSA, Precision Tests VSA

[CI] fix VSA training CI (#900)
  fastvideo/tests/training/VSA/reference_wandb_summary_VSA.json
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

rollback. deeply thinked, and I think kernel and wrapper does not need to be changed. The plan is just change the c++ api
  csrc/attn/tests/test_vsa.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100.cu
  csrc/attn/video_sparse_attn/vsa/block_sparse_wrapper.py
  csrc/attn/video_sparse_attn/vsa/understanded_padding.md
Due: Training Tests VSA, Precision Tests VSA

qklen diff bwd finished, tested
  csrc/attn/tests/test_vsa.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100.cu
Due: Training Tests VSA, Precision Tests VSA

update
  docker/Dockerfile.yaml
  examples/inference/gradio/serving/ray_serve_backend.py
  examples/inference/gradio/serving/start.sh
Due: none

Add inference for MoE SF
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fi lint
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add i2v demo
  examples/inference/gradio/serving/gradio_frontend.py
  examples/inference/gradio/serving/ray_serve_backend.py
Due: none

add matrix game causal denoising stages
  examples/inference/basic/basic_matrixgame.py
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/basic/wan/wan_causal_dmd_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/tests/transformers/test_matrixgame.py
  scripts/checkpoint_conversion/dump_action_keys.py
  scripts/checkpoint_conversion/matrixgame_to_diffusers.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add demo prompts
  examples/inference/gradio/serving/prompts.txt
Due: none

add full i2v demo
  examples/inference/gradio/serving/gradio_frontend.py
  examples/inference/gradio/serving/ray_serve_backend.py
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
