Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

60min timeout
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

i2v init, working, hf not done
  examples/inference/basic/basic_turbodiffusion_i2v.py
  examples/inference/basic/batch_turbodiffusion_i2v.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/pipelines/basic/turbodiffusion/__init__.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_i2v_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  scripts/checkpoint_conversion/convert_turbodiffusion_i2v_to_diffusers.py
  test_i2v_inference.py
  test_i2v_setup.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added hf link and ssim test
  examples/inference/basic/basic_turbodiffusion_i2v.py
  examples/inference/basic/batch_turbodiffusion_i2v.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fixed ssim
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

generaton script
  generate_i2v_references.py
Due: none

Layer offloading (#966)
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/layerwise_offload.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Ode init running for hy15
  examples/training/consistency_finetune/causal_ode_init/hy15_finetune_ode_init.slurm
  fastvideo/fastvideo_args.py
  fastvideo/optim/muon.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  README.md
  docs/training/training_recipes.md
  examples/distill/SFWan2.1-T2V/README.md
  examples/distill/SFWan2.2-A14B/README.md
  mkdocs.yml
Due: none

.
  README.md
Due: none

u
  README.md
Due: none

update
  README.md
  docs/training/overview.md
  docs/training/training_recipes.md
  examples/distill/SFWan2.2-A14B/README.md
  mkdocs.yml
Due: none

update
  docs/inference/support_matrix.md
Due: none

update
  docs/training/data_preprocess.md
  docs/training/overview.md
Due: none

update
  docs/training/finetune.md
Due: none

[docs] Update docs and README (#975)
  README.md
  docs/inference/support_matrix.md
  docs/training/data_preprocess.md
  docs/training/finetune.md
  docs/training/overview.md
  examples/distill/SFWan2.1-T2V/README.md
  mkdocs.yml
Due: none

update CI timeout
  .buildkite/pipeline.yml
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[ci] increase ssim and lora inference test timeout (#985)
  .buildkite/pipeline.yml
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix pre-commit issues in LongCat I2V stages
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_image_vae_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

release fastvideo-kernel 0.2.2
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/version.py
Due: none

[chore] release fastvideo-kernel 0.2.2 (#986)
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/version.py
Due: none

Fix TransformerLoader import path in longcat_denoising.py
  fastvideo/pipelines/stages/longcat_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update wechat QR code
  README.md
Due: none

[chore] update wechat QR code (#988)
  README.md
Due: none

Add LongCat-Video I2V and Video Continuation (Base, Distillation and Refinement) Support to FastVideo (#953)
  assets/girl.png
  assets/motorcycle.mp4
  fastvideo/configs/models/dits/longcat.py
  fastvideo/configs/pipelines/longcat.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/models/dits/longcat.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/longcat/__init__.py
  fastvideo/pipelines/basic/longcat/longcat_i2v_pipeline.py
  fastvideo/pipelines/basic/longcat/longcat_vc_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_latent_preparation.py
  fastvideo/pipelines/stages/longcat_image_vae_encoding.py
  fastvideo/pipelines/stages/longcat_kv_cache_init.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/pipelines/stages/longcat_video_vae_encoding.py
  scripts/inference/v1_inference_longcat.sh
  scripts/inference/v1_inference_longcat_distill.sh
  scripts/inference/v1_inference_longcat_i2v.sh
  scripts/inference/v1_inference_longcat_refine_fromvideo.sh
  scripts/inference/v1_inference_longcat_vc.sh
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  examples/inference/basic/basic_dmd.py
  fastvideo/training/checkpointing_utils.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  docs/attention/index.md
  docs/getting_started/installation.md
  docs/getting_started/quick_start.md
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[misc] pin fastvideo-kernel in .toml file (#989)
  docs/attention/index.md
  docs/getting_started/installation.md
  docs/getting_started/quick_start.md
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

added ssim i2v ref
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.2-I2V-A14B-Diffusers/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_i2v_pipeline.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  generate_i2v_references.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

axxident
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added ssim videos for i2v
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.2-I2V-A14B-Diffusers/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/tests/ssim/generated_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/steps4_Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of _ssim.json
  fastvideo/tests/ssim/generated_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/steps4_An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali_ssim.json
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix ssim
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/generated_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/steps4_Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of _ssim.json
  fastvideo/tests/ssim/generated_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/steps4_An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali_ssim.json
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  fastvideo/pipelines/basic/turbodiffusion/__init__.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_i2v_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests
