Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

fixi2v demo bug
  examples/inference/gradio/serving/gradio_frontend.py
Due: none

udpate path
  examples/inference/gradio/serving/gradio_frontend.py
  examples/inference/gradio/serving/ray_serve_backend.py
  examples/inference/gradio/serving/start.sh
Due: none

fix bug and new logging
  fastvideo/models/dits/matrix_game/action_module.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/input_validation.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

format bullet points
  docs/index.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

modified the .github/workflows/docs.yml file to include path filtering
  .github/workflows/docs.yml
Due: none

made it runnable
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update merge script to match model configs and inference
  scripts/lora_extraction/README.md
  scripts/lora_extraction/extract_lora.py
  scripts/lora_extraction/lora_inference_comparison.py
  scripts/lora_extraction/merge_lora.py
  scripts/lora_extraction/verify_lora.py
Due: none

outdated inference script
  scripts/lora_extraction/compare_lora_outputs.py
Due: none

Add CI test for LoRA extraction pipeline
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/lora_extraction/test_lora_extraction.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

small fix on the wan2.1 T2V 1.3B readme
  examples/training/finetune/wan_t2v_1.3B/crush_smol/README.md
Due: none

[Bugfix] Minor bugfixes (#889)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/README.md
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[docs] modified the .github/workflows/docs.yml file to include path filtering (#906)
  .github/workflows/docs.yml
Due: none

fix crucial bug: 1. wrong scheduler 2. ff_output calculation 3. num_frame_per_block pass
  examples/inference/basic/basic_matrixgame.py
  fastvideo/models/dits/matrix_game/action_module.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
  scripts/checkpoint_conversion/matrixgame_to_diffusers.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix 49frame crash bug!!!
  fastvideo/pipelines/stages/causal_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove logging
  fastvideo/models/dits/matrix_game/action_module.py
  fastvideo/models/dits/matrix_game/causal_model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update index.md
  docs/index.md
Due: none

Fix the docs (#905)
  docs/index.md
  mkdocs.yml
  requirements-mkdocs.txt
Due: none

inference scripts matches official's
  examples/inference/basic/basic_matrixgame.py
  scripts/checkpoint_conversion/dump_action_keys.py
Due: none

fix param_names_mapping
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/models/dits/matrix_game/causal_model.py
  scripts/checkpoint_conversion/matrixgame_to_diffusers.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

mfu calculation update
  fastvideo/tests/training/Vanilla/mfu_calculation.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Resolve OOM
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix local_attn_size and num_frame_per_block setting bug by hardcoding them in config
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added padding implementation (only for Wan+FlashAttn)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_overfit_params.sh
  fastvideo/attention/layer.py
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/padding_utils.py
  fastvideo/models/dits/hunyuanvideo.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] training mfu calculation scripts (#871)
  fastvideo/tests/training/Vanilla/mfu_calculation.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove dev stuff
  .clangd
  compile_commands.json
Due: none

remove gitignore
  .gitignore
Due: none

remove original backup
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100_original.cu
Due: Training Tests VSA, Precision Tests VSA

remove md
  csrc/attn/video_sparse_attn/vsa/understanded_padding.md
Due: Training Tests VSA, Precision Tests VSA

Add nsys
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/README.salloc.md
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_VSA_t2v_1.3B.jd.salloc
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_VSA_t2v_1.3B.jd.slurm
Due: none

Make nsys selective and also add annotations
  .gitignore
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_VSA_t2v_1.3B.jd.salloc
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: Set LOCAL_RANK before get_local_torch_device() for correct GPU assignment
  fastvideo/worker/gpu_worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

support keyboard input visualization
  examples/inference/basic/basic_matrixgame.py
  fastvideo/models/dits/matrix_game/visualize.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: correct mp backend GPU assignment on multi-GPU systems (#912)
  fastvideo/worker/gpu_worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

draft fix: uses matrix-game version rope, uses block-wise mask
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

some fix in random to align with matrix game, but will revert these changes finally
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

compare script
  compare.sh
Due: none

add new log and try to align with official implementation as much as possible
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add custom cross-attention to support cache
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/models/dits/matrix_game/model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests
