Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

make get action async
  examples/inference/basic/basic_matrixgame_streaming.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/models/dits/matrix_game/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add preprocess pipeline
  examples/training/finetune/hunyuan15_t2v_480p/download_dataset.sh
  examples/training/finetune/hunyuan15_t2v_480p/preprocess_hunyuan15_t2v.sh
  fastvideo/pipelines/preprocess/hunyuan15/__init__.py
  fastvideo/pipelines/preprocess/hunyuan15/hunyuan15_preprocess_pipelines.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add training pipeline, need to test
  fastvideo/training/hunyuan15_t2v_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix]: fix sliding_tile_attn with sdpa(without flash_attn)
  fastvideo/attention/backends/sdpa.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix]: fix fastvideo-kernel Rocm build and Dockerfile for Rocm
  docker/rocm7_1.Dockerfile
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
Due: none

[fix]: fix build.sh argument parsing loop.
  fastvideo-kernel/build.sh
Due: none

[fix]: fix STA trition kernel for AMD RDNA archs
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/st_attn_triton.py
Due: none

Add support for ode_init inference for hy15 & support multiple timesteps for hy15
  fastvideo/models/dits/causal_hunyuanvideo15.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

lint
  fastvideo/attention/backends/sdpa.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix]: fix sliding_tile_attn with sdpa(without flash_attn) (#967)
  fastvideo/attention/backends/sdpa.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix]: fix fastvideo-kernel Rocm build and Dockerfile for Rocm (#968)
  docker/rocm7_1.Dockerfile
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
Due: none

[fix]: fix STA trition kernel for AMD RDNA archs (#969)
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/st_attn_triton.py
Due: none

cutlass
  .gitmodules
Due: none

update
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/csrc/turbodiffusion/common/common.hpp
  fastvideo-kernel/csrc/turbodiffusion/common/launch.hpp
  fastvideo-kernel/csrc/turbodiffusion/common/load.hpp
  fastvideo-kernel/csrc/turbodiffusion/common/store.hpp
  fastvideo-kernel/csrc/turbodiffusion/gemm/gemm.cu
  fastvideo-kernel/csrc/turbodiffusion/gemm/kernel.hpp
  fastvideo-kernel/csrc/turbodiffusion/gemm/launch.hpp
  fastvideo-kernel/csrc/turbodiffusion/gemm/utils.hpp
  fastvideo-kernel/csrc/turbodiffusion/norm/layernorm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/layernorm.hpp
  fastvideo-kernel/csrc/turbodiffusion/norm/rmsnorm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/rmsnorm.hpp
  fastvideo-kernel/csrc/turbodiffusion/quant/quant.cu
  fastvideo-kernel/csrc/turbodiffusion/quant/quant.hpp
  fastvideo-kernel/python/fastvideo_kernel/__init__.py
  fastvideo-kernel/python/fastvideo_kernel/turbodiffusion_ops.py
Due: none

fix
  fastvideo-kernel/CMakeLists.txt
Due: none

tests
  fastvideo-kernel/tests/test_turbodiffusion.py
Due: none

backward
  fastvideo-kernel/python/fastvideo_kernel/turbodiffusion_ops.py
  fastvideo-kernel/tests/test_turbodiffusion.py
Due: none

u
  scripts/checkpoint_conversion/create_hf_repo.py
Due: none

[misc] Add util script to create diffuser HF repo from custom component weights (#970)
  scripts/checkpoint_conversion/create_hf_repo.py
Due: none

readme
  fastvideo-kernel/README.md
Due: none

update
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
  docker/Dockerfile.python3.12.cuda12.9.1
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo/tests/modal/pr_test.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[kernel] add turbodiffusion kernels (#972)
  .gitmodules
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
  docker/Dockerfile.python3.12.cuda12.9.1
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/csrc/turbodiffusion/common/common.hpp
  fastvideo-kernel/csrc/turbodiffusion/common/launch.hpp
  fastvideo-kernel/csrc/turbodiffusion/common/load.hpp
  fastvideo-kernel/csrc/turbodiffusion/common/store.hpp
  fastvideo-kernel/csrc/turbodiffusion/gemm/gemm.cu
  fastvideo-kernel/csrc/turbodiffusion/gemm/kernel.hpp
  fastvideo-kernel/csrc/turbodiffusion/gemm/launch.hpp
  fastvideo-kernel/csrc/turbodiffusion/gemm/utils.hpp
  fastvideo-kernel/csrc/turbodiffusion/norm/layernorm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/layernorm.hpp
  fastvideo-kernel/csrc/turbodiffusion/norm/rmsnorm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/rmsnorm.hpp
  fastvideo-kernel/csrc/turbodiffusion/quant/quant.cu
  fastvideo-kernel/csrc/turbodiffusion/quant/quant.hpp
  fastvideo-kernel/python/fastvideo_kernel/__init__.py
  fastvideo-kernel/python/fastvideo_kernel/turbodiffusion_ops.py
  fastvideo-kernel/tests/test_turbodiffusion.py
  fastvideo/tests/modal/pr_test.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

update
  README.md
  docs/training/training_recipes.md
  examples/distill/SFWan2.1-T2V/README.md
  examples/distill/SFWan2.2-A14B/README.md
  mkdocs.yml
Due: none

1. use get_local_torch_device instead of use get_local_torch_device() instead of hardcoding cuda 2. use logger.info instead of print
  fastvideo/models/dits/matrix_game/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fp8
  docs/getting_started/quick_start.md
  docs/inference/inference_quick_start.md
  fastvideo/configs/pipelines/base.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/composed_pipeline_base.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Ode runnable for hy15
  examples/inference/basic/basic_hy15.py
  examples/training/consistency_finetune/causal_ode_init/finetune_ode_init.sh
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/utils.py
  fastvideo/models/dits/causal_hunyuanvideo15.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/registry.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/training/ode_causal_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[docs]: fix various broken links across the documentation.
  docs/distillation/dmd.md
  docs/getting_started/installation.md
  docs/getting_started/installation/gpu.md
  docs/getting_started/installation/mps.md
  docs/inference/add_pipeline.md
  docs/inference/cli.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  docs/inference/optimizations.md
  docs/training/finetune.md
Due: none

fix
  docs/inference/configuration.md
Due: none

fix: design and attention docs
  docs/attention/developer/index.md
  docs/design/overview.md
Due: none

impl: absmax fp8
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/absmax_fp8.py
  fastvideo/models/encoders/t5.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[docs]: fix various broken links across the documentation (#979)
  docs/attention/developer/index.md
  docs/design/overview.md
  docs/distillation/dmd.md
  docs/getting_started/installation.md
  docs/getting_started/installation/gpu.md
  docs/getting_started/installation/mps.md
  docs/inference/add_pipeline.md
  docs/inference/cli.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  docs/inference/optimizations.md
  docs/training/finetune.md
Due: none

impl: absmax fp8 for t5
  fastvideo/layers/quantization/absmax_fp8.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

removed transformer tests
  fastvideo/attention/backends/sla.py
  fastvideo/tests/transformers/test_wanvideo.py
  fastvideo/tests/transformers/test_wanvideo_orig.py
  fastvideo/tests/transformers/test_wanvideo_sla_comparison.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added sla, verified output video. did not run tests yet.
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/sla_kernels/__init__.py
  fastvideo/attention/backends/sla_kernels/kernel.py
  fastvideo/attention/backends/sla_kernels/utils.py
  fastvideo/configs/models/dits/base.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

minor change to ssim test
  fastvideo/tests/ssim/generated_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/steps4_Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of _ssim.json
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added 14b support, gotta make ssim tests
  examples/inference/basic/basic_turbodiffusion.py
  examples/inference/basic/basic_turbodiffusion_14b.py
Due: none

added sage attn and proj_l loading in layer.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/layer.py
  fastvideo/configs/models/dits/base.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

updated l40s video
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleaned up 14B inference script
  examples/inference/basic/basic_turbodiffusion_14b.py
Due: none

init, working test and implemented mapping
  fastvideo/tests/transformers/test_wanvideo.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
