Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

[misc] Fix naming instruction in runpod.md (#1067)
  docs/contributing/developer_env/runpod.md
Due: none

[refactor] Action module (#1065)
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/matrixgame/model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add 1080 sr
  examples/inference/basic/basic_hy15_sr.py
  fastvideo/configs/models/__init__.py
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/models/upsamplers/__init__.py
  fastvideo/configs/models/upsamplers/base.py
  fastvideo/configs/models/upsamplers/hunyuan15.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/upsamplers/hunyuan15.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_i2v_pipeline.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_sr_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/sr_denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix lint
  fastvideo/configs/models/__init__.py
  fastvideo/configs/models/upsamplers/__init__.py
  fastvideo/configs/models/upsamplers/base.py
  fastvideo/configs/models/upsamplers/hunyuan15.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_sr_pipeline.py
  fastvideo/pipelines/stages/sr_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ckpt
  examples/inference/basic/basic_hy15.py
  examples/inference/basic/basic_hy15_sr.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add 2sr pipeline
  examples/inference/basic/basic_hy15_sr.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_2sr_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

small changes
  examples/inference/basic/basic_hy15_sr.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_2sr_pipeline.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_sr_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

small changes
  examples/inference/basic/basic_hy15_1080p.py
Due: none

fix lint
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_2sr_pipeline.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix lint
  fastvideo/pipelines/stages/sr_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

revert changes to basic_hy15.py
  examples/inference/basic/basic_hy15.py
Due: none

Fix model loading for GLM-Image with transformers 5.0.0rc3
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add GLM-Image SSIM test and fix deterministic latent generation
  fastvideo/tests/ssim/test_glm_image_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix mypy error: add __init__ to GlmImageDecodingStage
  fastvideo/pipelines/stages/glm_image_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Numerical alignment fix
  CLAUDE.md
  fastvideo/pipelines/stages/glm_image_before_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Address more PR review comments
  examples/inference/basic/basic_glm_image.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/configs/models/base.py
  fastvideo/models/dits/glm_image.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/decoding.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

CI fix - Upgrade transformers and accelerate versions
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/glm_image_before_denoising.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Refactor attn mask handling to use forward context
  fastvideo/attention/layer.py
  fastvideo/models/dits/glm_image.py
  fastvideo/pipelines/stages/glm_image_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

enable sampling for quality
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/glm_image_before_denoising.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Fix precommit error
  fastvideo/pipelines/basic/glm_image/glm_image_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

WIP: add GLM-Image SSIM test and diffusers reference generator
  fastvideo/tests/ssim/H100_reference_videos/glm_image/landscape_ref.png
  fastvideo/tests/ssim/test_glm_image_similarity.py
  generate_diffusers_reference.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add L40S reference image for GLM-Image
  fastvideo/tests/ssim/L40S_reference_videos/glm_image/landscape_ref.png
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Refactor GLM-Image decoding stage to inherit from our DecodingStage
  fastvideo/pipelines/stages/glm_image_decoding.py
  fastvideo/pipelines/stages/glm_image_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix PR comments: simplify example script and properly handle attention_mask through forward context
  examples/inference/basic/basic_glm_image.py
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix GLM-Image seed handling and add SSIM test
  fastvideo/pipelines/stages/glm_image_before_denoising.py
  fastvideo/tests/ssim/test_glm_image_similarity.py
  generate_diffusers_reference.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix pre-commit errors and SSIM test ImportError
  fastvideo/attention/layer.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/glm_image_before_denoising.py
  fastvideo/pipelines/stages/glm_image_decoding.py
  fastvideo/pipelines/stages/glm_image_denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Revert fix
  fastvideo/pipelines/stages/glm_image_before_denoising.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup readme
  README.md
Due: none

Adapt to new registry format
  fastvideo/models/registry.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

no text
  examples/training/finetune/WanGame2.1_1.3b_i2v/finetune_wangame.slurm
  examples/training/finetune/WanGame2.1_1.3b_i2v/scripts/generate_validation_static_w.py
  fastvideo/configs/models/encoders/clip.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/hyworld/pose.py
  fastvideo/models/dits/matrixgame/utils.py
  fastvideo/models/dits/wangame/hyworld_action_module.py
  fastvideo/models/dits/wangame/model.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/wangame_training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

text
  fastvideo/dataset/validation_dataset.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/wangame/__init__.py
  fastvideo/models/dits/wangame/hyworld_action_module.py
  fastvideo/models/dits/wangame/model.py
  fastvideo/pipelines/basic/wan/wangame_i2v_pipeline.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/wangame_training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Some minor fixes (#1068)
  README.md
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[Feature] [Hy1.5] Support HY1.5 super-resolution pipeline for 1080p videos (#1046)
  examples/inference/basic/basic_hy15_1080p.py
  fastvideo/configs/models/__init__.py
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/models/upsamplers/__init__.py
  fastvideo/configs/models/upsamplers/base.py
  fastvideo/configs/models/upsamplers/hunyuan15.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/upsamplers/hunyuan15.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_2sr_pipeline.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_i2v_pipeline.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_sr_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/registry.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: remove video ratio limitation
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/workflow/preprocess/components.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add LTX2 base model.
  examples/inference/basic/basic_ltx2_base.py
  fastvideo/configs/sample/ltx2.py
  fastvideo/configs/sample/registry.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  run_ltx2_no_guidance_compare.py
  scripts/checkpoint_conversion/convert_ltx2_weights.sh
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add gemma tokenizer to LTX2 conversion script.
  run_ltx2_no_guidance_compare.py
  scripts/checkpoint_conversion/convert_ltx2_weights.py
Due: none

Update quality test script.
  run_ltx2_no_guidance_compare.py
Due: none

Add some annotations.
  examples/inference/basic/basic_ltx2_base.py
  run_ltx2_no_guidance_compare.py
  scripts/checkpoint_conversion/convert_ltx2_weights.py
  scripts/checkpoint_conversion/convert_ltx2_weights.sh
Due: none
