Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

Add support for ode_init inference for hy15 & support multiple timesteps for hy15
  fastvideo/models/dits/causal_hunyuanvideo15.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Ode runnable for hy15
  examples/inference/basic/basic_hy15.py
  examples/training/consistency_finetune/causal_ode_init/finetune_ode_init.sh
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/utils.py
  fastvideo/models/dits/causal_hunyuanvideo15.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/training/ode_causal_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Ode init running for hy15
  examples/training/consistency_finetune/causal_ode_init/hy15_finetune_ode_init.slurm
  fastvideo/fastvideo_args.py
  fastvideo/optim/muon.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ckpt
  examples/distill/SFHunyuan1.5-T2V/distill_dmd.slurm
  examples/inference/basic/basic_hy15.py
  examples/training/consistency_finetune/causal_ode_init/hy15_finetune_ode_init.slurm
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/configs/sample/registry.py
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/causal_hunyuanvideo15.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/utils.py
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_flow_match_euler_discrete.py
  fastvideo/models/utils.py
  fastvideo/models/vaes/hunyuan15vae.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_i2v_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_text.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/hy15_self_forcing_distillation_pipeline.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

compatible with wan sf
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add context forcing, ode_init to sf training
  examples/distill/SFHunyuan1.5-T2V/distill_dmd.slurm
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/causal_hunyuanvideo15.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

small change
  examples/distill/SFHunyuan1.5-T2V/distill_dmd.slurm
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix lint
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/fastvideo_args.py
  fastvideo/optim/muon.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_causal_dmd_pipeline.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/hy15_self_forcing_distillation_pipeline.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

refactor hy15 causal denoising
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/hy15_causal_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

refactor hy15 sf distill
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/hy15_self_forcing_distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

revert hy15 preprocess related changes
  examples/inference/basic/basic_hy15.py
  examples/training/consistency_finetune/causal_ode_init/finetune_ode_init.sh
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/dataset/utils.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_text.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Modify distill scripts
  examples/distill/SFHunyuan1.5-T2V/distill_dmd.slurm
  examples/training/consistency_finetune/causal_ode_init/hy15_finetune_ode_init.slurm
Due: none

Modify fastvideo/training
  fastvideo/models/vision_utils.py
  fastvideo/training/hy15_ode_causal_pipeline.py
  fastvideo/training/hy15_self_forcing_distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix lint
  fastvideo/pipelines/stages/hy15_causal_denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/hy15_ode_causal_pipeline.py
  fastvideo/training/hy15_self_forcing_distillation_pipeline.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

small fix
  fastvideo/models/utils.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

causal_attn
  examples/inference/basic/basic_hyworld.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/dits/hyworld/hyworld.py
  fastvideo/pipelines/pipeline_batch_info.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add common parallel decode test.
  tests/local_tests/vaes/test_hy15_parallel_tiled_decode.py
Due: none

Add LTX-2 specialized attention classes
  fastvideo/attention/layer.py
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fp4 1.3B inference
  fastvideo/attention/backends/sageattn/api.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add fa2 benchmarking
  fastvideo/attention/backends/benchmark_scripts/benchmark_flashattn2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add combined benchmarks
  fastvideo/attention/backends/benchmark_scripts/benchmark_combined.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update benchmark scripts
  fastvideo/attention/backends/benchmark_scripts/benchmark_combined.py
  fastvideo/attention/backends/benchmark_scripts/benchmark_flashattn2.py
  fastvideo/attention/backends/benchmark_scripts/benchmark_sageattn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update default num heads
  fastvideo/attention/backends/benchmark_scripts/benchmark_combined.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add ce_comm support
  fastvideo/models/hunyuan/modules/attenion.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add split qkv_linear and split rope support
  fastvideo/models/hunyuan/modules/models.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

upgrade
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

add overlap on all2all for class MMSingleStreamBlock(support videogenkern.ce_comm and torch.dist)
  fastvideo/models/hunyuan/modules/models.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add qkv overlap
  fastvideo/models/hunyuan/modules/models.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix Hunyuan-GameCraft checkpoint loading and enable numerical comparison test
  fastvideo/configs/models/dits/hunyuangamecraft.py
  fastvideo/layers/visual_embedding.py
  fastvideo/models/dits/hunyuangamecraft.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix Hunyuan-GameCraft checkpoint loading and enable numerical comparison test
  RUN_TESTS_CHECKLIST.md
  TRANSFER_TO_GPU_CLUSTER.md
  check_gamecraft_files.sh
Due: none

fix: sageattn3 installation
  docs/inference/optimizations.md
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/platforms/cuda.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add test cases
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  validate_gamecraft.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

misc
  .gitignore
  compare_with_original.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  validate_gamecraft.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove unnecessary files
  compare_with_original.py
  validate_gamecraft.sh
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
