Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

remove some unnecessary
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

revert some changes
  fastvideo/pipelines/basic/longcat/stages/longcat_conditioning.py
  fastvideo/pipelines/basic/longcat/stages/longcat_denoising.py
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[docs] add favicon
  mkdocs.yml
Due: none

fix: incorrect dv in vsa Triton kernel causing test_vsa failure
  csrc/attn/video_sparse_attn/vsa/block_sparse_attn_triton.py
Due: Training Tests VSA, Precision Tests VSA

path fixed
  mkdocs.yml
Due: none

fix: incorrect dv in vsa Triton kernel causing test_vsa error (#879)
  csrc/attn/video_sparse_attn/vsa/block_sparse_attn_triton.py
Due: Training Tests VSA, Precision Tests VSA

[docs] add favicon (#878)
  mkdocs.yml
Due: none

Add inference for MoE SF
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/sample/wan.py
  fastvideo/models/schedulers/scheduling_self_forcing_flow_match.py
  fastvideo/models/utils.py
  fastvideo/pipelines/basic/wan/wan_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/input_validation.py
  prompts/mixkit_i2v.jsonl
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fi lint
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove redundant. latent compatible with original behavior
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/third_party/longcat_video/__init__.py
  fastvideo/third_party/longcat_video/context_parallel/__init__.py
  fastvideo/third_party/longcat_video/context_parallel/context_parallel_util.py
  fastvideo/third_party/longcat_video/context_parallel/ulysses_wrapper.py
  fastvideo/third_party/longcat_video/modules/__init__.py
  fastvideo/third_party/longcat_video/modules/attention.py
  fastvideo/third_party/longcat_video/modules/autoencoder_kl_wan.py
  fastvideo/third_party/longcat_video/modules/blocks.py
  fastvideo/third_party/longcat_video/modules/longcat_video_dit.py
  fastvideo/third_party/longcat_video/modules/lora_utils.py
  fastvideo/third_party/longcat_video/modules/rope_3d.py
  fastvideo/third_party/longcat_video/modules/scheduling_flow_match_euler_discrete.py
  fastvideo/third_party/longcat_video/pipeline_longcat_video.py
  fastvideo/third_party/longcat_video/utils/__init__.py
  fastvideo/third_party/longcat_video/utils/bukcet_config.py
  fastvideo/third_party/longcat_video/utils/prompt_enhancer.py
  scripts/inference/v1_inference_longcat_refine_test.sh
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

script change. bsa remove redundant import
  fastvideo/third_party/longcat_video/block_sparse_attention/bsa_interface.py
  scripts/inference/v1_inference_longcat_BSA.sh
  scripts/inference/v1_inference_longcat_BSA_704P.sh
  scripts/inference/v1_inference_longcat_refine.sh
  scripts/inference/v1_inference_longcat_refine_fromvideo.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove redundant comments
  scripts/inference/v1_inference_longcat.sh
  scripts/inference/v1_inference_longcat_distill.sh
  scripts/inference/v1_inference_longcat_refine_fromvideo.sh
Due: none

Add i2v images
  images/mixkit-a-cheerful-group-of-friends-celebrate-new-years-eve-and-51525.png
  images/mixkit-a-cute-couple-playing-on-the-grass-4688.png
  images/mixkit-a-little-girl-cruises-through-the-forest-path-on-her-50088.png
  images/mixkit-a-rancher-riding-a-horse-at-sunset-1143.png
  images/mixkit-a-young-man-practicing-his-karate-moves-49635.png
  images/mixkit-aerial-shot-of-a-beach-with-sea-waves-1087.png
  images/mixkit-aerial-view-of-a-rocky-mountain-in-the-forest-50589.png
  images/mixkit-alpinist-climbing-a-huge-rock-in-a-desert-43306.png
  images/mixkit-birds-flying-low-over-a-lake-in-a-meadow-41417.png
  images/mixkit-boy-skating-with-a-skateboard-in-a-park-with-ramps-34389.png
  images/mixkit-curve-on-a-snowy-forest-road-3317.png
  images/mixkit-dolphins-underwater-4133.png
  images/mixkit-motorboat-on-a-large-lake-with-turquoise-blue-waters-4996.png
  images/mixkit-skiers-on-a-snowy-slope-3327.png
  images/mixkit-small-group-of-people-doing-yoga-together-43730.png
  images/mixkit-woman-cleaning-her-house-dancing-happy-43379.png
Due: none

Change to fp32 inference
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
Due: none

use new ckpt
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix mp worker busy loop to handle all string RPC methods (#881)
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix lint
  .pre-commit-config.yaml
  fastvideo/pipelines/stages/causal_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

nit
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
  prompts/mixkit_i2v.jsonl
Due: none

script change
  scripts/inference/v1_inference_longcat.sh
Due: none

adjust code, and remove I2V script
  examples/training/finetune/hunyuan_i2v/download_dataset.sh
  examples/training/finetune/hunyuan_i2v/preprocess_hunyuan_data_i2v.sh
  examples/training/finetune/hunyuan_t2v/download_dataset.sh
  fastvideo/configs/models/encoders/clip.py
  fastvideo/configs/models/encoders/llama.py
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/tests/nightly/test_e2e_hunyuan_overfit_single_sample.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update extract_lora.py to make it fastvideo compatible
  scripts/lora_extraction/extract_lora.py
Due: none

Refactor verify_lora.py for improved structure
  scripts/lora_extraction/verify_lora.py
Due: none

Add merge_lora.py to merge LoRA adapters
  scripts/lora_extraction/merge_lora.py
Due: none

Update lora_inference_comparison.py to make it fastvideo compatible
  scripts/lora_extraction/compare_lora_outputs.py
  scripts/lora_extraction/lora_inference_comparison.py
Due: none

Enhance README for LoRA extraction scripts
  scripts/lora_extraction/README.md
Due: none

remove redundant bsa script
  scripts/checkpoint_conversion/manage_bsa.py
Due: none

remove redundant todo
  fastvideo/configs/pipelines/longcat.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add i2v demo
  examples/inference/gradio/serving/gradio_frontend.py
  examples/inference/gradio/serving/ray_serve_backend.py
  examples/inference/gradio/serving/start.sh
  examples/inference/gradio/serving/start_ray_serve_app.py
  prompts/mixkit_i2v.jsonl
Due: none

copy-paste action module and wan model, add matrixgame2 initial port
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/models/dits/matrix_game/__init__.py
  fastvideo/models/dits/matrix_game/action_module.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/models/dits/matrix_game/model.py
  fastvideo/models/dits/matrix_game/posemb_layers.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix LoRA inference test output_path usage and add fuzzy reference matching
  fastvideo/tests/inference/lora/test_lora_inference_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Each rank should sample a different timestep in dmd_forward and faker_score_forward
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Each rank should have its own timestep sampled
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[Bugfix] [DMD Distillation] Each rank should have its own timestep sampled (#885)
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

align pipeline
  fastvideo/configs/sample/base.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add demo images
  images/cyclist.jpg
  images/friends.jpg
  images/gray_short_man.jpg
  images/peninsula.jpg
Due: none

add demo prompts
  examples/inference/gradio/serving/prompts.txt
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
