Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

[Fix] hunyuan postprecessing issue (#1104)
  fastvideo/configs/pipelines/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat]: Waypoint checklist compliance - DistributedAttention, rms_norm, AdaLN, WaypointTextEncodingStage
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/layers/layernorm.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/waypoint_stages.py
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add activation offloading
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add activation_offloading argument
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add documentation for activation offloading hooks
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix precommit issues
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix infinite recursion during monkeypatching
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix precommit issues
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat]: Waypoint flex_attention, sigma alignment, seed passing, gitignore temp files
  .gitignore
  examples/inference/basic/basic_waypoint.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/configs/sample/waypoint.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/stages/waypoint_stages.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat]: add Waypoint SSIM test, streaming fix, pipeline updates
  fastvideo/tests/ssim/test_waypoint_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] get_torch_device and other device calls were being made on non-cuda platform
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] fix import PreTrainedModel in stepllm.py
  fastvideo/models/encoders/stepllm.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Refactored to use FastVideo layers and consolidated timestep stage
  fastvideo/configs/pipelines/sd35.py
  fastvideo/models/dits/sd3.py
  fastvideo/pipelines/basic/sd35/sd35_pipeline.py
  fastvideo/pipelines/stages/sd35_timestep_preparation.py
  fastvideo/pipelines/stages/timestep_preparation.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] fix import PreTrainedModel in stepllm.py (#1108)
  fastvideo/models/encoders/stepllm.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added OpenAI-compatible API server and benchmark script
  fastvideo/entrypoints/cli/bench.py
  fastvideo/entrypoints/cli/bench_serving.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/__init__.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/stores.py
  fastvideo/entrypoints/openai/utils.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

test
  examples/inference/basic/ROOT_CAUSE_ANALYSIS.md
  examples/inference/basic/check_guidance.py
  examples/inference/basic/check_parameters.py
  examples/inference/basic/fastvideo_layers.json
  examples/inference/basic/final_corrected_test.py
  examples/inference/basic/find_divergence.py
  examples/inference/basic/investigate_sglang_params.py
  examples/inference/basic/layer_by_layer_comparison.py
Due: none

test
  examples/inference/basic/final_corrected_test.py
Due: none

clean up VSA finetuning examples.
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/I2V-14B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/README.md
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA_4_gpu_debug.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-14B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/download_dataset.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/validation_4.json
  fastvideo/dataset/parquet_dataset_map_style.py
  scripts/finetune/finetune_v1_VSA.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update README.md
  README.md
Due: none

Update examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA_4_gpu_debug.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA_4_gpu_debug.sh
Due: none

Update README.md (#1110)
  README.md
Due: none

[misc]: fix yapf formatting in sd35 config and timestep stage
  fastvideo/configs/pipelines/sd35.py
  fastvideo/pipelines/stages/timestep_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[Feat] Native dit implementation for SD3.5 (#1093)
  examples/inference/basic/basic_sd35_t2i.py
  fastvideo/configs/models/dits/sd3.py
  fastvideo/configs/pipelines/sd35.py
  fastvideo/models/dits/sd3.py
  fastvideo/pipelines/basic/sd35/sd35_pipeline.py
  fastvideo/pipelines/stages/sd35_conditioning.py
  fastvideo/pipelines/stages/timestep_preparation.py
  fastvideo/tests/ssim/test_sd35_similarity.py
  tests/local_tests/sd35/test_sd35_component_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add memory profiling to trainingpipeline and fix mypy errors
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[style]: fix pre-commit - yapf, ruff E402, mypy for Waypoint pipeline
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/stages/waypoint_stages.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix Native Implementation of Kandinsky5-lite
  fastvideo/configs/models/dits/kandinsky5.py
  fastvideo/models/dits/kandinsky5.py
  fastvideo/registry.py
  tests/local_tests/transformers/test_kandinsky5_lite_transformer_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add uv quick install
  docs/getting_started/installation.md
Due: none

[Misc] clean up VSA finetuning examples. (#1111)
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/I2V-14B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/README.md
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA_4_gpu_debug.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-14B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/download_dataset.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/validation_4.json
  fastvideo/dataset/parquet_dataset_map_style.py
  scripts/finetune/finetune_v1_VSA.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] get_torch_device and other device calls were being made on non-cuda platforms (#1107)
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

hy-world
  README.md
Due: none

improve docs
  .github/workflows/docs.yml
  README.md
  docs/examples/examples_index.md
  docs/generate_examples.py
  docs/getting_started/quick_start.md
  docs/inference/add_pipeline.md
  docs/inference/cli.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  docs/inference/optimizations.md
  docs/inference/support_matrix.md
  docs/utilities/debugging.md
  mkdocs.yml
  scripts/check_docs_links.py
Due: none

[misc] add hy-world link to readme (#1113)
  README.md
Due: none

ok
  .github/workflows/docs.yml
Due: none

flux
  compare_script.py
  ex.py
  examples/inference/basic/ROOT_CAUSE_ANALYSIS.md
  flux1_dit.py
  flux1_model/.gitattributes
  flux1_model/LICENSE.md
  flux1_model/README.md
  flux1_model/model_index.json
  flux1_model/scheduler/scheduler_config.json
  flux1_model/text_encoder/config.json
  flux1_model/text_encoder_2/config.json
  flux1_model/text_encoder_2/model.safetensors.index.json
  flux1_model/tokenizer/special_tokens_map.json
  flux1_model/tokenizer/tokenizer_config.json
  flux1_model/tokenizer/vocab.json
  flux1_model/tokenizer_2/special_tokens_map.json
  flux1_model/tokenizer_2/spiece.model
  flux1_model/tokenizer_2/tokenizer.json
  flux1_model/tokenizer_2/tokenizer_config.json
  flux1_model/transformer/config.json
  flux1_model/transformer/diffusion_pytorch_model.safetensors.index.json
  flux1_model/vae/config.json
Due: none

flux
  compare_script.py
Due: none

add: FlashAttention 4 support
  fastvideo/attention/backends/flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

test
  compare_script.py
  ex.py
  examples/inference/basic/flux_debug.py
  flux_debug_native.py
  flux_sgl_debug.py
Due: none

precommit
  docs/generate_examples.py
Due: none

Improve Docs (#1112)
  .github/workflows/docs.yml
  README.md
  docs/examples/examples_index.md
  docs/generate_examples.py
  docs/getting_started/installation.md
  docs/getting_started/quick_start.md
  docs/inference/add_pipeline.md
  docs/inference/cli.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  docs/inference/optimizations.md
  docs/inference/support_matrix.md
  docs/utilities/debugging.md
  mkdocs.yml
  scripts/check_docs_links.py
Due: none

[feat]: Waypoint KV cache frozen-during-denoise semantics (match official StaticKVCache)
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests
