Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

readme small fix
  README.md
Due: none

[misc] readme small fix (#1076)
  README.md
Due: none

refactor: add sd3.5 entry in registry
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: _compile_conditions regression
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix]: `_compile_conditions` regression (#1077)
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

perf: grid_size to int
  fastvideo/models/dits/matrixgame/causal_model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

perf: replace index tensor with index integer
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Patch: add back model detector in registry.
  examples/inference/basic/basic_ltx2_base.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Clean up registry.py
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Clean up basic_flux.py by removing commented code
  examples/inference/basic/basic_flux.py
Due: none

Delete misc file
  CLAUDE.md
Due: none

Baseline: Deterministic priors, debug logs, SSIM 0.715
  fastvideo/pipelines/stages/glm_image_before_denoising.py
  fastvideo/pipelines/stages/glm_image_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(gamecraft): add GameCraftFinalLayer with correct shift/scale order
  fastvideo/configs/models/dits/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(gamecraft): correct the parity test
  tests/local_tests/transformers/test_gamecraft_parity.py
Due: none

Update registry.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update the conversion script
  scripts/checkpoint_conversion/convert_gamecraft_to_fastvideo.py
  scripts/checkpoint_conversion/convert_gamecraft_weights.py
Due: none

update the files (will be skipped)
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  fastvideo/tests/transformers/test_hunyuangamecraft_e2e.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ckpt
  examples/distill/SFHunyuan1.5-T2V/distill_dmd.slurm
  examples/inference/basic/basic_wan2_2_Fun.py
  examples/inference/basic/basic_wan2_2_ti2v.py
  examples/training/consistency_finetune/causal_ode_init/hy15_finetune_tf_init.slurm
  fastvideo/configs/models/encoders/clip.py
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/dataset/utils.py
  fastvideo/models/dits/causal_hunyuanvideo15.py
  fastvideo/pipelines/stages/hy15_causal_denoising.py
  fastvideo/training/hy15_ode_causal_pipeline.py
  fastvideo/training/hy15_self_forcing_distillation_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add gamecraft vae blocks and script
  fastvideo/models/vaes/gamecraftvae.py
  fastvideo/models/vaes/gamecraftvae_blocks.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add config and pipeline code for gamecraft
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update sample files
  fastvideo/configs/sample/__init__.py
  fastvideo/configs/sample/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update pipeline files
  fastvideo/pipelines/basic/gamecraft/__init_.py
  fastvideo/pipelines/basic/gamecraft/gamecraft_pipeline.py
  fastvideo/pipelines/basic/hunyuangamecraft/__init_.py
  fastvideo/pipelines/basic/hunyuangamecraft/hunyuangamecraft_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update the denoising stage
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Create convert_gamecraft_vae.py
  scripts/checkpoint_conversion/convert_gamecraft_vae.py
Due: none

add tests for text_encoders and vae
  tests/local_tests/encoders/test_gamecraft_encoders_parity.py
  tests/local_tests/vaes/test_gamecraft_vae_parity.py
Due: none

update rotary embedding and registry for gamecraft
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/registry.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Create test_gamecraft_pipeline_parity.py
  tests/local_tests/pipelines/test_gamecraft_pipeline_parity.py
Due: none

init
  examples/inference/basic/basic_lingbotworld_base_cam.py
  fastvideo/configs/models/dits/lingbotworld.py
  fastvideo/configs/pipelines/lingbotworld.py
  fastvideo/models/dits/lingbotworld/__init__.py
  fastvideo/models/dits/lingbotworld/cam_utils.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/lingbotworld/__init__.py
  fastvideo/pipelines/basic/lingbotworld/lingbotworld_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add camctrl patchembed and cam embed
  examples/inference/basic/lingbotworld_examples/00/intrinsics.npy
  examples/inference/basic/lingbotworld_examples/00/poses.npy
  examples/inference/basic/lingbotworld_examples/01/intrinsics.npy
  examples/inference/basic/lingbotworld_examples/01/poses.npy
  examples/inference/basic/lingbotworld_examples/02/intrinsics.npy
  examples/inference/basic/lingbotworld_examples/02/poses.npy
  fastvideo/layers/visual_embedding.py
  fastvideo/models/dits/lingbotworld/model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Add stable_audio T2A Generation
  docs/inference/inference_quick_start.md
  docs/inference/stable_audio.md
  docs/inference/support_matrix.md
  examples/inference/basic/stable_audio_basic.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/stable_audio.py
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/configs/sample/stable_audio.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/weight_utils.py
  fastvideo/models/registry.py
  fastvideo/models/stable_audio/__init__.py
  fastvideo/models/stable_audio/conditioner.py
  fastvideo/models/stable_audio/pretransform.py
  fastvideo/models/stable_audio/sampling.py
  fastvideo/pipelines/basic/stable_audio/__init__.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/stable_audio_conditioning.py
  fastvideo/pipelines/stages/stable_audio_decoding.py
  fastvideo/pipelines/stages/stable_audio_denoising.py
  fastvideo/pipelines/stages/stable_audio_input_validation.py
  fastvideo/pipelines/stages/stable_audio_latent_preparation.py
  fastvideo/registry.py
  mkdocs.yml
  pyproject.toml
  tests/local_tests/pipelines/test_stable_audio_pipeline_smoke.py
  tests/local_tests/stable_audio/test_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

testing scripts
  examples/inference/basic/basic_flux.py
  scripts/debug/compare_flux_step0.py
  scripts/debug/dump_flux_step0.py
Due: none

load ckpt using safetensor
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/README.md
  examples/training/finetune/WanGame2.1_1.3b_i2v/finetune_wangame.slurm
  examples/training/finetune/WanGame2.1_1.3b_i2v/validation_mc.json
Due: none

update config and registry
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/lingbotworld.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/lingbotworld.py
  fastvideo/configs/sample/lingbotworld.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/pipelines/basic/lingbotworld/lingbotworld_pipeline.py
  fastvideo/registry.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

test
  scripts/debug/compare_flux_step0.py
  scripts/debug/dump_flux_step0.py
Due: none

fix c2ws_mlp missing
  fastvideo/configs/models/dits/lingbotworld.py
  fastvideo/models/dits/lingbotworld/__init__.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/pipelines/basic/lingbotworld/lingbotworld_pipeline.py
  parameter.py
  scripts/checkpoint_conversion/convert_lingbotworld_weights.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add dummy VideoScience reward option in RL rewards
  fastvideo/training/rl/rewards/rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

rl: add flow_grpo-style zero-advantage handling (mask + 1e-6 fallback + filter)
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/inference/basic/basic_ltx2.py
  fastvideo/registry.py
  scripts/huggingface/download_hf.py
  scripts/huggingface/upload_hf.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update param_names_mapping
  fastvideo/configs/models/dits/lingbotworld.py
  fastvideo/configs/sample/base.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  parameter.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

upload model & inference script
  examples/inference/basic/basic_lingbotworld_base_cam.py
  fastvideo/models/dits/lingbotworld/cam_utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
