Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

Change NUM_GPUS_PER_NODE_TRAINING to 4
  fastvideo/tests/nightly/test_e2e_hunyuan_overfit_single_sample.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] add sliding_tile attention triton kernel and ROCM support
  csrc/attn/sliding_tile_attn/README.md
  csrc/attn/sliding_tile_attn/setup.py
  csrc/attn/sliding_tile_attn/st_attn/__init__.py
  csrc/attn/sliding_tile_attn/st_attn/st_attn_triton.py
  fastvideo/platforms/rocm.py
  pyproject.toml
  scripts/inference/v1_inference_hunyuan_STA.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[fix] fix pyproject.toml and fix gemini code comments
  csrc/attn/sliding_tile_attn/st_attn/__init__.py
  csrc/attn/sliding_tile_attn/st_attn/st_attn_triton.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

fix clip bug and now it fine with long video
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/models/dits/matrix_game/model.py
  fastvideo/models/encoders/clip.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/image_encoding.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

refactor and add ocr reward model
  fastvideo/training/rl/rewards/__init__.py
  fastvideo/training/rl/rewards/base.py
  fastvideo/training/rl/rewards/ocr.py
  fastvideo/training/rl/rewards/rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/__init__.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/tests/encoders/test_clip_encoder.py
  fastvideo/tests/encoders/test_llama_encoder.py
  fastvideo/tests/old_tests/distributed_run.sh
  fastvideo/tests/old_tests/test_t5_encoder.py
  fastvideo/tests/old_tests/test_wan_vae.py
  fastvideo/tests/old_tests/tp_example.py
  fastvideo/tests/transformers/test_hunyuanvideo_load.py
  fastvideo/tests/transformers/test_wanvideo.py
  fastvideo/tests/vaes/test_hunyuan_vae.py
  fastvideo/tests/vaes/test_wan_vae.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

revert local_path
  fastvideo/tests/encoders/test_clip_encoder.py
  fastvideo/tests/encoders/test_llama_encoder.py
  fastvideo/tests/transformers/test_hunyuanvideo_load.py
  fastvideo/tests/transformers/test_wanvideo.py
  fastvideo/tests/vaes/test_hunyuan_vae.py
  fastvideo/tests/vaes/test_wan_vae.py
  fastvideo/v1/tests/encoders/test_t5_encoder.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix wrong threshold
  fastvideo/tests/transformers/test_wanvideo.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  .buildkite/scripts/pr_test.sh
  docs/contributing/overview.md
  docs/contributing/testing.md
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/tests/encoders/test_t5_encoder.py
  fastvideo/v1/tests/encoders/test_t5_encoder.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Use assert_close in tests (#429)
  fastvideo/__init__.py
  fastvideo/tests/encoders/test_clip_encoder.py
  fastvideo/tests/encoders/test_llama_encoder.py
  fastvideo/tests/encoders/test_t5_encoder.py
  fastvideo/tests/old_tests/distributed_run.sh
  fastvideo/tests/old_tests/test_t5_encoder.py
  fastvideo/tests/old_tests/test_wan_vae.py
  fastvideo/tests/old_tests/tp_example.py
  fastvideo/tests/transformers/test_hunyuanvideo_load.py
  fastvideo/tests/transformers/test_wanvideo.py
  fastvideo/tests/vaes/test_hunyuan_vae.py
  fastvideo/tests/vaes/test_wan_vae.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Apply suggestion from @gemini-code-assist[bot]
  docs/contributing/testing.md
Due: none

[docs] add docs for ssim testing (#918)
  .buildkite/scripts/pr_test.sh
  docs/contributing/overview.md
  docs/contributing/testing.md
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

feat: add COSMOS 2.5 DiT implementation
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/cosmos2_5.py
  fastvideo/models/dits/cosmos2_5.py
  fastvideo/tests/transformers/test_cosmos2_5.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Refactor Cosmos 2.5 model and tests for improved precision and functionality
  fastvideo/models/dits/cosmos2_5.py
  fastvideo/tests/transformers/test_cosmos2_5.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Enhance Cosmos 2.5 model with distributed attention support
  fastvideo/configs/models/dits/cosmos2_5.py
  fastvideo/models/dits/cosmos2_5.py
  fastvideo/tests/transformers/test_cosmos2_5.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update COSMOS 2.5 tests to use bfloat16 precision and adjust tolerances
  fastvideo/tests/transformers/test_cosmos2_5.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat]: add COSMOS 2.5 DiT implementation (#897)
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/cosmos2_5.py
  fastvideo/models/dits/cosmos2_5.py
  fastvideo/tests/transformers/test_cosmos2_5.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add missing newline at end of test_lora_extraction.py
  fastvideo/tests/lora_extraction/test_lora_extraction.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix CI timeout
  fastvideo/tests/lora_extraction/test_lora_extraction.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix visibility
  docs/seed_parameter_behavior.md
  docs/source/_static/images/STA_configuration.png
  mkdocs.yml
Due: none

[docs] fix testing.md visibility (#920)
  docs/seed_parameter_behavior.md
  docs/source/_static/images/STA_configuration.png
  mkdocs.yml
Due: none

fix
  fastvideo/pipelines/basic/wan/wan_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_dmd_pipeline.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

CI fix
  .buildkite/pipeline.yml
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bigfix] [distillation] Fix DMD inference pipeline noise initialization shape (#921)
  fastvideo/pipelines/basic/wan/wan_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_dmd_pipeline.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Refactor LoRA scripts for importability
  fastvideo/tests/lora_extraction/test_lora_extraction.py
  scripts/lora_extraction/extract_lora.py
  scripts/lora_extraction/lora_inference_comparison.py
  scripts/lora_extraction/merge_lora.py
  scripts/lora_extraction/verify_lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add LoRA extraction, verification, and comparison scripts (#865)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/lora_extraction/test_lora_extraction.py
  fastvideo/tests/modal/pr_test.py
  scripts/lora_extraction/README.md
  scripts/lora_extraction/extract_lora.py
  scripts/lora_extraction/lora_inference_comparison.py
  scripts/lora_extraction/merge_lora.py
  scripts/lora_extraction/verify_lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add fvd implementation
  .gitignore
  benchmarks/fvd/__init__.py
  benchmarks/fvd/cli.py
  benchmarks/fvd/fvd.py
  benchmarks/fvd/i3d_model.py
  benchmarks/fvd/run_fvd.py
  benchmarks/fvd/validate_fvd.py
  benchmarks/fvd/video_utils.py
  benchmarks/scripts/run.sh
Due: none

Update path in run_fvd.py
  benchmarks/fvd/run_fvd.py
Due: none

[fix] fix pre-commit issues
  csrc/attn/sliding_tile_attn/st_attn/__init__.py
  fastvideo/platforms/rocm.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Unit Tests

fix(sparse-attn): correct block_size computation in backward kernel
  csrc/attn/video_sparse_attn/vsa/block_sparse_attn_triton.py
Due: Training Tests VSA, Precision Tests VSA

fix
  examples/distill/Wan2.2-TI2V-5B-Diffusers/crush_smol/preprocess_wan_data_ti2v_5b.sh
  fastvideo/pipelines/preprocess/v1_preprocess.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix fvd config for long videos
  benchmarks/fvd/fvd.py
Due: none

Update .gitignore
  .gitignore
Due: none

wip
  fastvideo/configs/configs.py
  fastvideo/dataset/transform.py
  fastvideo/pipelines/preprocess/preprocess_stages.py
  fastvideo/workflow/preprocess/components.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
  scripts/dataset_preparation/generate_validation_json.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Qwen2_5_VL text encoder has 0 numerical diff with transformers
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/models/encoders/qwen2_5.py
  fastvideo/models/mask_utils.py
  fastvideo/models/registry.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update i3d model to use from huggingface
  benchmarks/fvd/i3d_model.py
Due: none

Update script to use relative path
  benchmarks/scripts/run.sh
Due: none
