Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

zero init fix
  docs/wangame/zero_init_fixes.md
  examples/training/finetune/WanGame2.1_1.3b_i2v/scripts/generate_validation_static_w.py
  fastvideo/models/dits/wangame/hyworld_action_module.py
  fastvideo/models/dits/wangame/model.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/training/wangame_training_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feature] Add Hunyuan-GameCraft model support
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/hunyuangamecraft.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuangamecraft.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/models/cameranet.py
  fastvideo/models/dits/hunyuangamecraft.py
  fastvideo/models/registry.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  scripts/checkpoint_conversion/convert_gamecraft_to_fastvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: remove resolution filter
  fastvideo/dataset/preprocessing_datasets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Create gamecraft_denoising.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update denoising.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update the denoising scripts
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Revert "Merge pull request #2 from mignonjia/wangame-text"
  fastvideo/models/dits/wangame/__init__.py
  fastvideo/models/dits/wangame/hyworld_action_module.py
  fastvideo/models/dits/wangame/model.py
  fastvideo/pipelines/basic/wan/wangame_i2v_pipeline.py
  fastvideo/training/wangame_training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

lints: fix format
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[perf]: multiproc executor use CUDA IPC to avoid serialization overhead
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: caller to DecodingStage
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: distill
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix merge conflicts
  fastvideo/configs/pipelines/registry.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: latent batch size
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

change: use --pin-cpu-memory
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Split LTX2 mappings and add registry coverage.
  fastvideo/configs/sample/registry.py
  fastvideo/registry.py
  tests/local_tests/test_ltx2_registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[Fix] remove video ratio limitation (#1069)
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/workflow/preprocess/components.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

WIP: Add LTX 2 trainer (Tested)
  examples/training/finetune/ltx2/overfit/README.md
  examples/training/finetune/ltx2/overfit/download_dataset.sh
  examples/training/finetune/ltx2/overfit/finetune_t2v.sh
  examples/training/finetune/ltx2/overfit/finetune_t2v_lora.sh
  examples/training/finetune/ltx2/overfit/preprocess_ltx2_data_t2v_new.sh
  examples/training/finetune/ltx2/overfit/validation.frog.json
  examples/training/finetune/ltx2/overfit/validation.json
  fastvideo/configs/configs.py
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/dataset/__init__.py
  fastvideo/dataset/ltx2_precomputed_dataset.py
  fastvideo/fastvideo_args.py
  fastvideo/models/audio/ltx2_audio_processing.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/preprocess/ltx2/ltx2_preprocess_pipelines.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  fastvideo/training/__init__.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
  fastvideo/workflow/preprocess/preprocess_workflow_ltx2_t2v.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

more fix and relocate STA arguments to pipeline config
  README.md
  fastvideo/configs/pipelines/base.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

improve logging to not print warning when not distributed
  fastvideo/logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update README.md
  README.md
Due: none

update gamecraft
  examples/inference/basic/basic_hunyuangamecraft.py
  examples/inference/basic/basic_hunyuangamecraft_i2v.py
  fastvideo/configs/models/dits/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update gamecraft pipeline code
  fastvideo/configs/pipelines/hunyuangamecraft.py
  fastvideo/configs/sample/hunyuangamecraft.py
  fastvideo/models/dits/hunyuangamecraft.py
  fastvideo/pipelines/basic/hunyuangamecraft/__init_.py
  fastvideo/pipelines/basic/hunyuangamecraft/hunyuangamecraft_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update the tests and add checkpoint conversion code
  fastvideo/tests/transformers/test_hunyuangamecraft_e2e.py
  scripts/checkpoint_conversion/convert_gamecraft_to_fastvideo.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix jinzhe comment
  fastvideo/logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

more fix and relocate STA arguments to pipeline config (#1073)
  README.md
  fastvideo/configs/pipelines/base.py
  fastvideo/fastvideo_args.py
  fastvideo/logger.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

wsad
  examples/training/finetune/WanGame2.1_1.3b_i2v/finetune_wangame.slurm
  examples/training/finetune/WanGame2.1_1.3b_i2v/validation_wsad.json
  fastvideo/fastvideo_args.py
  fastvideo/training/wangame_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  docs/attention/developer/index.md
Due: none

update
  docs/utilities/debugging.md
  fastvideo/configs/sample/ltx2.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/upsample.py
  fastvideo/entrypoints/upsample.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/lora/linear.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/upsamplers/__init__.py
  fastvideo/models/upsamplers/ltx2_upsampler.py
  fastvideo/models/vaes/ltx2vae.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  fastvideo/pipelines/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/stages/ltx2_refine.py
  tests/local_tests/transformers/test_ltx2.py
  tests/local_tests/transformers/test_ltx2_audio.py
  tests/local_tests/vaes/test_ltx2_vae_official.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

test
  examples/inference/basic/basic_ltx2_upscale.py
  scripts/checkpoint_conversion/convert_ltx2_upsampler_weights.py
  tests/local_tests/pipelines/test_ltx2_scheduler_parity.py
  tests/local_tests/pipelines/test_ltx2_two_stage_parity.py
  tests/local_tests/transformers/test_ltx2_lora_parity.py
  tests/local_tests/upsamplers/__init__.py
  tests/local_tests/upsamplers/test_ltx2_upsampler.py
Due: none

revert
  docs/attention/developer/index.md
  docs/utilities/debugging.md
Due: none

update
  examples/inference/basic/basic_ltx2_spatiotemporal_upsample.py
  examples/inference/basic/basic_ltx2_temporal_upsample.py
  examples/inference/basic/basic_ltx2_upscale.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  scripts/huggingface/upload_hf.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/inference/basic/basic_ltx2_upscale.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/pipelines/stages/ltx2_refine.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update LR for LTXbase finetune.
  examples/training/finetune/ltx2/overfit/finetune_t2v.sh
Due: none

update
  examples/inference/basic/basic_ltx2_upscale.py
  fastvideo/pipelines/stages/ltx2_refine.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(glm-image): resolve SSIM issues by fixing T5 glyph shapes and KV cache dimensions
  fastvideo/models/dits/glm_image.py
  fastvideo/pipelines/stages/glm_image_before_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[perf]: use CUDA IPC in multiproc executor to avoid serialization overhead (#1061)
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added SD3.5 (Stable Diffusion 3.5)
  .gitignore
  examples/inference/basic/sd35_t2i.py
  fastvideo/configs/models/dits/sd3.py
  fastvideo/configs/models/vaes/autoencoder_kl.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/sd35.py
  fastvideo/configs/sample/sd35.py
  fastvideo/models/dits/sd3.py
  fastvideo/models/encoders/clip.py
  fastvideo/models/encoders/t5_hf.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/autoencoder_kl.py
  fastvideo/pipelines/basic/sd35/__init__.py
  fastvideo/pipelines/basic/sd35/sd35_pipeline.py
  fastvideo/pipelines/stages/sd35_conditioning.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/ssim/test_sd35_similarity.py
  tests/local_tests/sd35/__init__.py
  tests/local_tests/sd35/test_sd35_component_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix pre-commit
  fastvideo/configs/models/dits/sd3.py
  fastvideo/configs/models/vaes/autoencoder_kl.py
  fastvideo/configs/pipelines/sd35.py
  fastvideo/configs/sample/sd35.py
  fastvideo/pipelines/basic/sd35/__init__.py
  fastvideo/pipelines/basic/sd35/sd35_pipeline.py
  fastvideo/pipelines/stages/sd35_conditioning.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
