Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

add reset/step/clear lifecycle methods at stage -> pipeline -> worker -> executor layers
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add streaming script
  examples/inference/basic/basic_matrixgame_streaming.py
  fastvideo/models/dits/matrix_game/utils.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix bug in first block
  examples/inference/basic/basic_matrixgame_streaming.py
Due: none

[docs] small fixes
  docs/requirements-mkdocs.txt
Due: none

[docs] small fixes
  docs/contributing/overview.md
  docs/contributing/profiling.md
  docs/contributing/testing.md
  docs/distillation/dmd.md
  docs/getting_started/quick_start.md
  docs/sliding_tile_attention/installation.md
  docs/training/data_preprocess.md
  docs/video_sparse_attention/installation.md
  requirements-mkdocs.txt
Due: none

ssim volume
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/test_longcat_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ssim takes very long time
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

longer ssim
  .buildkite/pipeline.yml
Due: none

update action in each step
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

move requirements-mkdocs.txt to root dir
  docs/README.md
  requirements-mkdocs.txt
Due: none

dix artifacts between blocks
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

VAE cache
  fastvideo/models/vaes/wanvae.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/decoding.py
  test_streaming.sh
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Hardcode ode trajectory generation for hy1.5
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_text.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

smaller num infer steps and resol
  fastvideo/tests/ssim/test_longcat_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ckpt
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

only smaller infer steps and update video file
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-base/FLASH_ATTN/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-base/TORCH_SDPA/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-distill/FLASH_ATTN/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-distill/TORCH_SDPA/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-native-refine/FLASH_ATTN/In a realistic photography style, an asian boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/test_longcat_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

first commit
  csrc/attn/magi_sparse_attn/dist_nsa.py
  csrc/attn/magi_sparse_attn/nsa_v2.py
  csrc/attn/magi_sparse_attn/test_dist_nsa.py
  csrc/attn/magi_sparse_attn/utils.py
Due: none

4gpu is necessary
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/test_longcat_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add test cases
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  validate_gamecraft.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

misc
  .gitignore
  compare_with_original.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  validate_gamecraft.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[docs] small fixes (#947)
  docs/README.md
  docs/contributing/overview.md
  docs/contributing/profiling.md
  docs/contributing/testing.md
  docs/distillation/dmd.md
  docs/getting_started/quick_start.md
  docs/sliding_tile_attention/installation.md
  docs/training/data_preprocess.md
  docs/video_sparse_attention/installation.md
Due: none

fix
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

async step and save_video
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] add sliding_tile attention triton kernel and ROCM support (#916)
  csrc/attn/sliding_tile_attn/README.md
  csrc/attn/sliding_tile_attn/setup.py
  csrc/attn/sliding_tile_attn/st_attn/__init__.py
  csrc/attn/sliding_tile_attn/st_attn/st_attn_triton.py
  fastvideo/platforms/rocm.py
  pyproject.toml
  scripts/inference/v1_inference_hunyuan_STA.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

rocm docker
  docker/rocm.Dockerfile
Due: none

rocm docker
  docker/rocm7_1.Dockerfile
  pyproject_other.toml
Due: none

[rocm] Add rocm fastvideo docker image (#952)
  docker/rocm7_1.Dockerfile
  pyproject_other.toml
Due: none

+ generator sage 3
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B_sage3.sh
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/fastvideo_args.py
  fastvideo/platforms/cuda.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B_sage3.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_sage3.sh
  fastvideo/fastvideo_args.py
  fastvideo/tests/nightly/test_sage3_with_16bit_bwd.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_nvfp4.sh
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

stash
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/download_dataset.sh
  fastvideo/layers/fp4linear.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B_sage3.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_nvfp4.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_sage3.sh
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/tests/nightly/test_sage3_with_16bit_bwd.py
  fastvideo/tests/nightly/test_torch_fp4_qk.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B.sh
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B_linear_fp4.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_nvfp4.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_sage3.sh
  fastvideo/layers/fp4linear.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/tests/nightly/test_sage3_with_16bit_bwd.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_sage3.sh
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/tests/nightly/test_sage3_with_16bit_bwd.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

save
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_sage3.sh
Due: none

1005 morning
  fastvideo/attention/backends/sage_attn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
