Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[feat] Add Waypoint pipeline config and sampling params
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/configs/sample/registry.py
  fastvideo/configs/sample/waypoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Phase 5: Wire Waypoint pipeline stages with streaming interface
  fastvideo/pipelines/basic/waypoint/__init__.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Phase 6: Add Waypoint pipeline smoke tests
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: none

Phase 7: Add Waypoint streaming inference example
  examples/inference/basic/basic_waypoint_streaming.py
Due: none

Phase 9: Add Waypoint pipeline documentation
  fastvideo/pipelines/basic/waypoint/README.md
Due: LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[refactor] Update Cosmos 2.5 examples to use SamplingParam
  examples/inference/basic/basic_cosmos2_5_i2w.py
  examples/inference/basic/basic_cosmos2_5_t2w.py
  examples/inference/basic/basic_cosmos2_5_v2w.py
  fastvideo/configs/sample/cosmos2_5.py
  fastvideo/configs/sample/registry.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

WIP: cosmos2.5 image2world
  fastvideo/pipelines/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Add Cosmos 2.5 image2world and video2world pipelines
  examples/inference/basic/basic_cosmos2_5_i2w.py
  examples/inference/basic/basic_cosmos2_5_v2w.py
  fastvideo/image_processor.py
  fastvideo/pipelines/basic/cosmos/cosmos2_5_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/validators.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Remove duplicated LongCat pipeline detector from the registry configuration
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Introduce Cosmos 2.5 pipeline and Reason1 text encoder configurations
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix pipeline smoke test to use correct registry key
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: none

Fix T5Config instantiation in Waypoint pipeline config
  fastvideo/configs/pipelines/waypoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Address code review feedback: remove duplicate CtrlInput, fix unused params, make example sync
  examples/inference/basic/basic_waypoint_streaming.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Overfitting running for MC 10
  examples/training/finetune/WanGame2.1_1.3b_i2v/finetune_i2v.sh
  examples/training/finetune/WanGame2.1_1.3b_i2v/finetune_i2v.slurm
  fastvideo/configs/models/dits/wangamevideo.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/configs/sample/wan.py
  fastvideo/models/dits/hyworld/pose.py
  fastvideo/models/dits/wangame/__init__.py
  fastvideo/models/dits/wangame/hyworld_action_module.py
  fastvideo/models/dits/wangame/model.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/wangame_i2v_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/wangame_training_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fa version
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

refactor & change sigma_max
  examples/training/rl/finetune_t2v_grpo.sh
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/rl/README.md
  fastvideo/training/rl/rl_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/wan_rl_training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Support custom action trajectories for validation
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000000_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000001_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000002_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000003_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000004_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000005_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000006_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000007_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000008_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000009_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000010_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000011_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000012_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000013_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000014_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/000015_action.npy
  examples/training/finetune/WanGame2.1_1.3b_i2v/action/README.md
  examples/training/finetune/WanGame2.1_1.3b_i2v/finetune_i2v.slurm
  examples/training/finetune/WanGame2.1_1.3b_i2v/generate_actions.py
  examples/training/finetune/WanGame2.1_1.3b_i2v/validation.json
  fastvideo/dataset/validation_dataset.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

change log prob computation
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add gen3c, still need to test
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/cache_3d.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
  tests/local_tests/transformers/test_gen3c.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix gen3c weight conversion, add test skip conditions, and register the pipeline
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/models/dits/gen3c.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/cache_3d.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
  tests/local_tests/transformers/test_gen3c.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add gpu provisioning
  ui/world_model/client/src/App.svelte
  ui/world_model/server/config.py
  ui/world_model/server/gpu_pool.py
  ui/world_model/server/main.py
Due: none

[chore]: use higher precision timestamp in logging
  fastvideo/logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update clip.py
  fastvideo/configs/models/encoders/clip.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[Bugfix] [Wan I2V] Fix CLIP Image encoder config (#1063)
  fastvideo/configs/models/encoders/clip.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[chore]: use higher precision timestamp in logging (#1062)
  fastvideo/logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  examples/inference/basic/basic_cosmos2_5_i2w.py
  examples/inference/basic/basic_cosmos2_5_v2w.py
Due: none

Add Kandinsky5 Lite DiT wrapper and parity tests
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/kandinsky5.py
  fastvideo/models/dits/kandinsky5.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  tests/local_tests/transformers/test_kandinsky5_lite_transformer_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Refactor Waypoint to use FastVideo attention + modular model_index loading; update streaming example
  examples/inference/basic/basic_waypoint_streaming.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  scripts/convert_waypoint_stub_repo.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Make Waypoint streaming example configurable via WAYPOINT_MODEL_ID
  examples/inference/basic/basic_waypoint_streaming.py
Due: none

Waypoint: use LocalAttention when distributed not initialized (keeps unit tests working)
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix SP position padding
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Waypoint: fix SDPA backend enum + CtrlInput import
  .gitignore
  fastvideo/models/dits/waypoint_transformer.py
  tests/local_tests/transformers/test_waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added Sequence Parallelism for LTX-2 Distilled (#1036)
  fastvideo/distributed/__init__.py
  fastvideo/distributed/communication_op.py
  fastvideo/models/dits/ltx2.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/ltx2_text_encoding.py
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(waypoint): use DistributedAttention with LocalAttention fallback for tests
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

refactor(waypoint): use DistributedAttention with distributed_setup fixture (matches FastVideo pattern)
  fastvideo/models/dits/waypoint_transformer.py
  tests/local_tests/conftest.py
  tests/local_tests/transformers/test_waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(tests): set MASTER_ADDR env vars for distributed_setup fixture
  tests/local_tests/conftest.py
Due: none

fix(waypoint): expand K/V heads for GQA compatibility with DistributedAttention
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
