Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12

adding back other tests
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/generated_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/steps4_An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali_ssim.json
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

working
  fastvideo/configs/models/encoders/gemma.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  fastvideo/pipelines/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/encoders/test_ltx2_gemma_parity.py
  fastvideo/tests/transformers/test_ltx2.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

more testing
  fastvideo/tests/ssim/test_0_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

debugging
  fastvideo/tests/ssim/conftest.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

added diskspace to conftest and put turbodiff back in its place
  fastvideo/tests/ssim/conftest.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  AGENTS.md
  PLAN.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/ltx2_audio_decoding.py
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

added t2v test
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

final commit, removed conftest
  fastvideo/tests/ssim/conftest.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Add LTX-2 audio support
  examples/inference/basic/basic_ltx2.py
  examples/inference/basic/basic_ltx2_small.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/ltx2_audio_decoding.py
  fastvideo/worker/multiproc_executor.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] Fix LTX-2 text encoder connector RoPE configuration
  fastvideo/configs/models/encoders/gemma.py
  scripts/checkpoint_conversion/convert_ltx2_weights.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[ci] Add LTX-2 SSIM CI tests and refine basic_ltx2.py
  examples/inference/basic/basic_ltx2.py
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/test_inference_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix] Use official distilled sigma schedule for 8-step LTX2 inference
  examples/inference/basic/basic_ltx2.py
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix] Fix Gemma text_len to 1024
  examples/inference/basic/basic_ltx2_small.py
Due: none

[fix] Gemma text_len 1024
  fastvideo/configs/models/encoders/gemma.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add inference script with custom weights
  examples/inference/sageattn_inference_example_custom_weights.py
Due: none

[CI] Fixed Turbodiffusion I2V CI (#1002)
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/steps4_An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali_ssim.json
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

change block size to 128x128
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/attention/backends/sageattn/api.py
  fastvideo/attention/backends/sageattn/blackwell/block_config.h
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix qat_attn kwargs
  fastvideo/attention/backends/sage_attn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

5090 example
  examples/inference/sageattn_inference_example_custom_weights_5090.py
Due: none

[feat!] Disable FSDP inference by default (#1001)
  docs/inference/inference_quick_start.md
  examples/inference/basic/basic.py
  examples/inference/basic/basic_dmd.py
  examples/inference/basic/basic_hy15.py
  examples/inference/basic/basic_longcat_i2v.py
  examples/inference/basic/basic_longcat_t2v.py
  examples/inference/basic/basic_longcat_vc.py
  examples/inference/basic/basic_matrixgame.py
  examples/inference/basic/basic_matrixgame_streaming.py
  examples/inference/basic/basic_self_forcing_causal.py
  examples/inference/basic/basic_self_forcing_causal_wan2_2_i2v.py
  examples/inference/basic/basic_self_forcing_causal_wan2_2_t2v.py
  examples/inference/basic/basic_turbodiffusion.py
  examples/inference/basic/basic_wan2_2.py
  examples/inference/basic/basic_wan2_2_Fun.py
  examples/inference/basic/basic_wan2_2_i2v.py
  examples/inference/basic/basic_wan2_2_ti2v.py
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added audio to ltx2 and fixed issue with sigma values and encoder alignment (#1004)
  examples/inference/basic/basic_ltx2.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/stages/ltx2_audio_decoding.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/worker/multiproc_executor.py
  scripts/checkpoint_conversion/convert_ltx2_weights.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[misc] [bugfix] unpin 'av' in pyproject (#1009)
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

[fix] Ensure contiguous tensors for NCCL all_gather in DistributedAutograd; update tiling note in AutoencoderKLHunyuanVideo15
  fastvideo/distributed/device_communicators/base_device_communicator.py
  fastvideo/models/vaes/hunyuan15vae.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Introduce Cosmos 2.5 pipeline and Reason1 text encoder configurations
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/reason1.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/cosmos2_5vae.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/cosmos2_5.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/cosmos2_5.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/encoders/qwen2_5_vl_custom.py
  fastvideo/models/encoders/reason1.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_flow_unipc_multistep.py
  fastvideo/models/vaes/cosmos25wanvae.py
  fastvideo/pipelines/basic/cosmos/cosmos2_5_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/pipelines/stages/timestep_preparation.py
  scripts/checkpoint_conversion/pt_to_safetensors.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[fix] Improve fallback mechanism for FlashAttention2 availability
  fastvideo/models/encoders/qwen2_5_vl_custom.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Add basic Cosmos 2.5 video generation example
  examples/inference/basic/basic_cosmos2_5_t2w.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add support musa, and fused rmsnorm/rope
  fastvideo/data_preprocess/preprocess_vae_latents.py
  fastvideo/models/hunyuan/modules/models.py
  fastvideo/models/hunyuan/modules/norm_layers.py
  fastvideo/models/hunyuan/modules/posemb_layers.py
  fastvideo/train.py
  fastvideo/utils/load.py
  scripts/dataset_preparation/prepare_json_file_openvid.py
  scripts/finetune/v0/finetune_hunyuan.sh
  scripts/preprocess/v0/preprocess_hunyuan_data.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/models/schedulers/adapter.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/denoising_causal_strategy.py
  fastvideo/pipelines/stages/denoising_cosmos_strategy.py
  fastvideo/pipelines/stages/denoising_dmd_strategy.py
  fastvideo/pipelines/stages/denoising_engine.py
  fastvideo/pipelines/stages/denoising_longcat_strategy.py
  fastvideo/pipelines/stages/denoising_matrixgame_strategy.py
  fastvideo/pipelines/stages/denoising_standard_strategy.py
  fastvideo/pipelines/stages/denoising_strategies.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/tests/conftest.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
  fastvideo/tests/stages/test_denoising_engine_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/models/layerwise_offload.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pin_memory.py
  fastvideo/pipelines/stages/denoising_engine.py
  fastvideo/pipelines/stages/denoising_matrixgame_strategy.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update
  fastvideo/envs.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/lora/linear.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pin_memory.py
  fastvideo/tests/stages/test_denoising_engine_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

reenable block sparse attention qkdiff
  fastvideo-kernel/csrc/attention/block_sparse_h100.cu
  fastvideo-kernel/tests/test_vsa.py
Due: none

update
  docs/inference/add_pipeline.md
  fastvideo/pipelines/basic/cosmos/cosmos_pipeline.py
  fastvideo/pipelines/basic/longcat/longcat_i2v_pipeline.py
  fastvideo/pipelines/basic/longcat/longcat_pipeline.py
  fastvideo/pipelines/basic/longcat/longcat_vc_pipeline.py
  fastvideo/pipelines/basic/wan/wan_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_dmd_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/denoising_causal_strategy.py
  fastvideo/pipelines/stages/denoising_longcat_strategy.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/tests/stages/test_denoising_engine_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

support q/k diff on video_sparse_attn()
  docs/attention/vsa/index.md
  fastvideo-kernel/README.md
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/tests/test_vsa_forward.py
  fastvideo/attention/backends/video_sparse_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Introduce Cosmos 2.5 Text2World pipeline (#974)
  examples/inference/basic/basic_cosmos2_5_t2w.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/reason1.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/cosmos2_5vae.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/cosmos2_5.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/cosmos2_5.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/encoders/qwen2_5_vl_custom.py
  fastvideo/models/encoders/reason1.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_flow_unipc_multistep.py
  fastvideo/models/vaes/cosmos25wanvae.py
  fastvideo/pipelines/basic/cosmos/cosmos2_5_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/pipelines/stages/timestep_preparation.py
  scripts/checkpoint_conversion/pt_to_safetensors.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix compilation symbol undefined error
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/tests/test_vsa_forward.py
Due: none

update
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/denoising_engine.py
  fastvideo/pipelines/stages/denoising_engine_hooks.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/tests/ssim/generated_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/steps4_Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of _ssim.json
  fastvideo/tests/stages/test_denoising_engine_hooks.py
  fastvideo/tests/stages/test_scheduler_adapter.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add vsa wrapper and fix test_vsa.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/tests/test_vsa.py
Due: none

vsa forward also go through wrapper
  fastvideo-kernel/tests/test_vsa_forward.py
Due: none
