Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

Fix GateProj.forward() signature - remove unused x argument
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix attn_mask dtype to match query dtype in CrossAttention
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix CrossAttention: use head_dim=64 and derive n_heads from context_dim
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Add Waypoint pipeline config and sampling params
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/configs/sample/waypoint.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Phase 7: Add Waypoint streaming inference example
  examples/inference/basic/basic_waypoint_streaming.py
Due: none

Fix pipeline smoke test to use correct registry key
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: none

Phase 9: Add Waypoint pipeline documentation
  fastvideo/pipelines/basic/waypoint/README.md
Due: LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Phase 6: Add Waypoint pipeline smoke tests
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: none

Address code review feedback: remove duplicate CtrlInput, fix unused params, make example sync
  examples/inference/basic/basic_waypoint_streaming.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Refactor Waypoint to use FastVideo attention + modular model_index loading; update streaming example
  examples/inference/basic/basic_waypoint_streaming.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  scripts/convert_waypoint_stub_repo.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Phase 5: Wire Waypoint pipeline stages with streaming interface
  fastvideo/pipelines/basic/waypoint/__init__.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix T5Config instantiation in Waypoint pipeline config
  fastvideo/configs/pipelines/waypoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

refactor(waypoint): use DistributedAttention with distributed_setup fixture (matches FastVideo pattern)
  fastvideo/models/dits/waypoint_transformer.py
  tests/local_tests/conftest.py
  tests/local_tests/transformers/test_waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix(tests): set MASTER_ADDR env vars for distributed_setup fixture
  tests/local_tests/conftest.py
Due: none

fix(waypoint): expand K/V heads for GQA compatibility with DistributedAttention
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Waypoint: fix SDPA backend enum + CtrlInput import
  .gitignore
  fastvideo/models/dits/waypoint_transformer.py
  tests/local_tests/transformers/test_waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

feat(waypoint): add HF repo conversion and upload scripts for diffusers format
  examples/inference/basic/basic_waypoint_streaming.py
  scripts/convert_waypoint_stub_repo.py
  scripts/huggingface/upload_waypoint_hf.py
Due: none

fix(waypoint): use DistributedAttention with LocalAttention fallback for tests
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Waypoint: use LocalAttention when distributed not initialized (keeps unit tests working)
  fastvideo/models/dits/waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Make Waypoint streaming example configurable via WAYPOINT_MODEL_ID
  examples/inference/basic/basic_waypoint_streaming.py
Due: none

wangame ode init
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/models/dits/wangame/__init__.py
  fastvideo/models/dits/wangame/causal_model.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/wangame_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wangame_i2v_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/preprocess/wangame/wangame_preprocess_pipeline_ode_trajectory.py
  fastvideo/training/wangame_ode_causal_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add config, pipeline, basic example files
  examples/inference/basic/basic_hunyuangamecraft.py
  examples/inference/basic/basic_hunyuangamecraft_i2v.py
  fastvideo/configs/models/__init__.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/hunyuangamecraft.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/gamecraftvae.py
  fastvideo/configs/pipelines/hunyuangamecraft.py
  fastvideo/configs/sample/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[Misc] [Training] Fixed a bunch of bugs in current training pipeline (#1084)
  examples/training/consistency_finetune/causal_ode_init/finetune_ode_init.sh
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/vision_utils.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/matrixgame_training_pipeline.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
  fastvideo/training/wan_distillation_pipeline.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
  fastvideo/training/wan_i2v_training_pipeline.py
  fastvideo/training/wan_self_forcing_distillation_pipeline.py
  fastvideo/training/wan_training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix LTX2 trainer resharding error.
  examples/training/finetune/ltx2/overfit/finetune_t2v.sh
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Update example training scripts.
  examples/training/finetune/ltx2/overfit/download_dataset.sh
  examples/training/finetune/ltx2/overfit/finetune_t2v.sh
  examples/training/finetune/ltx2/overfit/preprocess_ltx2_data_t2v_new.sh
Due: none

[Feat] Port LTX2 trainer (#1074)
  examples/inference/basic/basic_ltx2_base.py
  examples/training/finetune/ltx2/overfit/README.md
  examples/training/finetune/ltx2/overfit/download_dataset.sh
  examples/training/finetune/ltx2/overfit/finetune_t2v.sh
  examples/training/finetune/ltx2/overfit/finetune_t2v_lora.sh
  examples/training/finetune/ltx2/overfit/preprocess_ltx2_data_t2v_new.sh
  examples/training/finetune/ltx2/overfit/validation.frog.json
  examples/training/finetune/ltx2/overfit/validation.json
  fastvideo/configs/configs.py
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/configs/sample/ltx2.py
  fastvideo/dataset/__init__.py
  fastvideo/dataset/ltx2_precomputed_dataset.py
  fastvideo/fastvideo_args.py
  fastvideo/models/audio/ltx2_audio_processing.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/preprocess/ltx2/ltx2_preprocess_pipelines.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  fastvideo/registry.py
  fastvideo/training/__init__.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
  fastvideo/workflow/preprocess/preprocess_workflow_ltx2_t2v.py
  scripts/checkpoint_conversion/convert_ltx2_weights.py
  tests/local_tests/test_ltx2_registry.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

registry causal and ode init
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/models/dits/wangame/__init__.py
  fastvideo/models/dits/wangame_lingbot/cam_utils.py
  fastvideo/models/dits/wangame_lingbot/model.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/wangame_i2v_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/wangame_lingbot_training_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: text encoder issues
  examples/inference/basic/basic_sd35_t2i.py
  fastvideo/models/loader/component_loader.py
  fastvideo/tests/encoders/test_clip_encoder.py
  fastvideo/tests/encoders/test_hyt5_encoder.py
  fastvideo/tests/encoders/test_llama_encoder.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
  fastvideo/tests/encoders/test_t5_encoder.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update script
  examples/training/consistency_finetune/causal_wangame_ode_init/finetune_ode_init.sh
  examples/training/consistency_finetune/causal_wangame_ode_init/finetune_ode_init.slurm
  examples/training/consistency_finetune/causal_wangame_ode_init/launch_preprocess_slurm.sh
  examples/training/consistency_finetune/causal_wangame_ode_init/ode_finetune_worker.slurm
  examples/training/consistency_finetune/causal_wangame_ode_init/preprocess_worker.slurm
  examples/training/consistency_finetune/causal_wangame_ode_init/validation.json
Due: none

Update gamecraft_denoising.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix: sd3.5 dit config & feat: support saving image output to .png
  CLAUDE.md
  examples/inference/basic/basic_sd35_t2i.py
  fastvideo/configs/models/dits/sd3.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/loader/component_loader.py
  fastvideo/registry.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/training_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove claude.md
  CLAUDE.md
Due: none

fix
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add NVTX tracer support
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v.sh
  fastvideo/attention/layer.py
  fastvideo/layers/layernorm.py
  fastvideo/layers/linear.py
  fastvideo/layers/mlp.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/loader/component_loader.py
  fastvideo/profiler.py
  fastvideo/tests/training/Vanilla/mfu_calculation.py
  fastvideo/training/training_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

removing logging statements
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add native Kandinsky5 Lite DiT + parity test
  fastvideo/configs/models/dits/kandinsky5.py
  fastvideo/models/dits/kandinsky5.py
  tests/local_tests/transformers/test_kandinsky5_lite_transformer_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

reverting preprocessing files changes
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v.sh
Due: none

correcting mistake in training pipeline
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
