Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

Fix absolute path in validate_fvd.py
  benchmarks/fvd/validate_fvd.py
Due: none

Update condition for creating config using protocol map
  benchmarks/fvd/cli.py
Due: none

Fix feature extraction method
  benchmarks/fvd/fvd.py
Due: none

Update import paths in init.py
  benchmarks/fvd/__init__.py
Due: none

Fix import paths in cli.py
  benchmarks/fvd/cli.py
Due: none

Add newline char at EOF
  benchmarks/fvd/i3d_model.py
  benchmarks/scripts/run.sh
Due: none

Fix load and compute features method signature
  benchmarks/fvd/fvd.py
Due: none

Fix precommit issues
  benchmarks/fvd/fvd.py
  benchmarks/fvd/i3d_model.py
Due: none

newline char
  csrc/attn/tests/utils.py
Due: none

[bugfix] [VSA] Fix block_size computation in backward kernel (#925)
  csrc/attn/video_sparse_attn/vsa/block_sparse_attn_triton.py
Due: Training Tests VSA, Precision Tests VSA

remove redundant comments
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100.cu
Due: Training Tests VSA, Precision Tests VSA

consider testing using min=16 as standard. This ensure stricter error detection
  csrc/attn/tests/test_vsa.py
Due: Precision Tests VSA

minor bug fix
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add setup & running instructions
  benchmarks/fvd/README.md
  benchmarks/fvd/__init__.py
  benchmarks/fvd/cli.py
  benchmarks/fvd/fvd.py
  benchmarks/fvd/run_fvd.py
  benchmarks/scripts/setup_fvd.sh
Due: none

Fix pre commit issues
  benchmarks/fvd/README.md
Due: none

remove rundandent comments and getattr. need further check getattr
  fastvideo/layers/lora/linear.py
  fastvideo/pipelines/basic/longcat/longcat_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added hy1.5 vae with 0 numerical diff with diffusers
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/hunyuan15vae.py
  fastvideo/layers/activation.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/hunyuan15vae.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
  fastvideo/tests/vaes/test_hunyuan15_vae.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

trying to pass the precision test by compiling new kernel inside ci process
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

init algorithm backbone and refactor rl_pipeline
  fastvideo/training/rl/algorithms/__init__.py
  fastvideo/training/rl/algorithms/base.py
  fastvideo/training/rl/algorithms/grpo.py
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

pr test
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

prtest
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Add fvd implementation (#923)
  benchmarks/fvd/README.md
  benchmarks/fvd/__init__.py
  benchmarks/fvd/cli.py
  benchmarks/fvd/fvd.py
  benchmarks/fvd/i3d_model.py
  benchmarks/fvd/run_fvd.py
  benchmarks/fvd/validate_fvd.py
  benchmarks/fvd/video_utils.py
  benchmarks/scripts/run.sh
  benchmarks/scripts/setup_fvd.sh
Due: none

[misc] update wechat image
  README.md
Due: none

[misc] update wechat image (#931)
  README.md
Due: none

Add RL dataset & dataloader
  fastvideo/dataset/__init__.py
  fastvideo/dataset/rl_prompt_dataset.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

wip
  fastvideo/pipelines/preprocess/preprocess_stages.py
  fastvideo/workflow/preprocess/components.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fixes nightly tests
  fastvideo/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
  fastvideo/tests/training/distill/test_distill_dmd.py
  fastvideo/tests/training/self-forcing/test_self_forcing.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] [VSA] [distillation] Various bugfixes for VSA and distillation and nightly tests (#932)
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
  fastvideo/tests/training/distill/test_distill_dmd.py
  fastvideo/tests/training/self-forcing/test_self_forcing.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update how fa is installed
  docker/Dockerfile.python3.12
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

fix
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
Due: none

update version
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

fix
  fastvideo/models/encoders/stepllm.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add h200 tests
  fastvideo/tests/training/VSA/h200_reference_wandb_summary_VSA.json
  fastvideo/tests/training/VSA/l40s_reference_wandb_summary_VSA.json
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/h200_reference_wandb_summary.json
  fastvideo/tests/training/Vanilla/l40s_reference_wandb_summary.json
  fastvideo/tests/training/Vanilla/test_training_loss.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

revert lora change
  fastvideo/pipelines/lora_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

wip fix
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

adding pytorch profiler
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  fastvideo/envs.py
  fastvideo/profiler.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/training/VSA/h200_reference_wandb_summary_VSA.json
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleanup
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
