Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA, Precision Tests VMoBA, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 45m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Inference Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests STA
  env:
  - TEST_TYPE=inference_sta
  agents:
    queue: default

Precision Tests STA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests STA
  env:
  - TEST_TYPE=precision_sta
  agents:
    queue: default

Precision Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VSA
  env:
  - TEST_TYPE=precision_vsa
  agents:
    queue: default

Precision Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Precision Tests VMoBA
  env:
  - TEST_TYPE=precision_vmoba
  agents:
    queue: default

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[misc] add schedule configurations to pytorch profiler (#934)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/profile_finetune_t2v.sh
  fastvideo/envs.py
  fastvideo/profiler.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove streaming generation (leave for another RFC)
  examples/inference/basic/basic_matrixgame_streaming.py
  fastvideo/configs/sample/base.py
  fastvideo/models/dits/matrix_game/utils.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/causal_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove on-the-fly conversion
  examples/inference/basic/basic_matrixgame.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/matrixgame_conversion.py
  fastvideo/pipelines/__init__.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/transformers/test_matrixgame.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

some fix
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_i2v_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

fix pre-commit formatting and lint errors
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/sample/base.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_i2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/conditioning.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

update reference latent and skip test
  fastvideo/tests/transformers/test_matrixgame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

add ssim for matrixgame & fix pre-commit issue
  examples/inference/basic/basic_matrixgame.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/dits/matrix_game/utils.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/tests/ssim/L40S_reference_videos/Matrix-Game-2.0-Diffusers-Base/FLASH_ATTN/video.mp4
  fastvideo/tests/ssim/test_matrixgame_similarity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

move models to FastVideo hf account
  examples/inference/basic/basic_matrixgame.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/transformers/test_matrixgame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

place Diffusers as suffix
  examples/inference/basic/basic_matrixgame.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/transformers/test_matrixgame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleaning up files
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/ssim/test_inference_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

cleaning up files
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
Due: none

minor fixes
  README.md
  docs/distillation/dmd.md
  examples/inference/basic/README.md
  fastvideo/platforms/cuda.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

removed padding test
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_padding_test.sh
Due: none

[feat] Support sequence packing and shard after pachification for USP (#894)
  fastvideo/attention/layer.py
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/utils.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/hunyuanvideo.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[docs] Minor Fixes (#942)
  README.md
  docs/distillation/dmd.md
  examples/inference/basic/README.md
  fastvideo/platforms/cuda.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

remove manual seed setting in InputValidationStage
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

vsa padding add
  fastvideo/attention/layer.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

use FastVideo's CLIP instread of HF CLIP will introduces difference, therefore update the ssim test
  fastvideo/tests/ssim/L40S_reference_videos/Matrix-Game-2.0-Diffusers-Base/FLASH_ATTN/video.mp4
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

+baseline
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/README.md
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B.sh
Due: none

+ fp4 linear + fp4 attn, all with 16-bit bwd
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B.sh
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/layers/fp4linear.py
  fastvideo/tests/nightly/test_fp4_linear.py
  fastvideo/tests/nightly/test_sage3_with_16bit_bwd.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[feat] Add Matrix-Game 2.0 (#938)
  examples/inference/basic/basic_matrixgame.py
  fastvideo/configs/models/dits/matrixgame.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/registry.py
  fastvideo/configs/sample/wan.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/matrix_game/__init__.py
  fastvideo/models/dits/matrix_game/action_module.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/models/dits/matrix_game/model.py
  fastvideo/models/dits/matrix_game/utils.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/matrixgame/__init__.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_i2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/conditioning.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/tests/ssim/L40S_reference_videos/Matrix-Game-2.0-Diffusers-Base/FLASH_ATTN/video.mp4
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/transformers/test_matrixgame.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[bugfix] Added VSA Padding logic (#944)
  fastvideo/attention/layer.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

override pipeline
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/__init__.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[misc] Allow manual override of Pipeline class through override_pipeline_cls_name (#945)
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/__init__.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Qwen2_5_VL text encoder has 0 numerical diff with transformers
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/models/encoders/qwen2_5.py
  fastvideo/models/mask_utils.py
  fastvideo/models/registry.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Added hy1.5 vae with 0 numerical diff with diffusers
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/hunyuan15vae.py
  fastvideo/layers/activation.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/hunyuan15vae.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
  fastvideo/tests/vaes/test_hunyuan15_vae.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

0 numerical diff between hy1.5 dit and original's
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/registry.py
  fastvideo/tests/transformers/test_hunyuanvideo15.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

0 numerical diff between original and fv's hy1.5 dit
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/configs/models/encoders/base.py
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/configs/models/encoders/t5.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/pipelines/basic/hunyuan15/__init__.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_pipeline.py
  fastvideo/tests/encoders/test_hyt5_encoder.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
  fastvideo/tests/transformers/test_ori_hunyuanvideo15.py
  fastvideo/tests/vaes/test_hunyuan15_vae.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

ckpt
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/pipelines/stages/text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Pipeline working
  examples/inference/basic/basic_hy15.py
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/models/encoders/t5.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/transformers/test_hunyuanvideo15.py
  fastvideo/tests/transformers/test_ori_hunyuanvideo15.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Fix lint
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_pipeline.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/text_encoding.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Remove tracked files: test_ori_hunyuanvideo15.py
  fastvideo/tests/transformers/test_hunyuanvideo15.py
  fastvideo/tests/transformers/test_ori_hunyuanvideo15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

checkpoint
  examples/inference/basic/basic_hy15.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Add 720p config & support paddded SP
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/layer.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/configs/sample/registry.py
  fastvideo/models/dits/hunyuanvideo15.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

lint
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

[New Model] Hunyuan1.5 (#943)
  examples/inference/basic/basic_hy15.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/attention/layer.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/models/dits/hunyuanvideo15.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/base.py
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/configs/models/encoders/t5.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/hunyuan15vae.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/configs/sample/registry.py
  fastvideo/layers/activation.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/encoders/qwen2_5.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/mask_utils.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/hunyuan15vae.py
  fastvideo/pipelines/basic/hunyuan15/__init__.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/encoders/test_hyt5_encoder.py
  fastvideo/tests/encoders/test_qwen2_5_encoder.py
  fastvideo/tests/vaes/test_hunyuan15_vae.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, tests/encoders/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, tests/vaes/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, tests/ssim/**, tests/utils.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: tests/inference/lora/**, fastvideo/models/loader/**, tests/transformers/**, tests/utils.py, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, tests/training/Vanilla/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, tests/training/distill/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, tests/training/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, tests/training/VSA/**, csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/**, tests/inference/STA/**, csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/sliding_tile_attn/**, csrc/attn/sliding_tile_attn/setup.py, csrc/attn/sliding_tile_attn/config_sta.py, csrc/attn/sliding_tile_attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/video_sparse_attn/**, csrc/attn/video_sparse_attn/tk/**, csrc/attn/tests/test_vsa.py, csrc/attn/video_sparse_attn/setup.py, csrc/attn/video_sparse_attn/config_vsa.py, csrc/attn/video_sparse_attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VMoBA: any of: csrc/attn/vmoba_attn/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: csrc/attn/vmoba_attn/vmoba/**, fastvideo/attention/backends/vmoba.py, tests/inference/vmoba/**, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, tests/dataset/**, tests/workflow/**, pyproject.toml, docker/Dockerfile.python3.12
